---
import { twMerge } from 'tailwind-merge';
const { className, as = 'a', ...props } = Astro.props;
---

{
  as == 'a' && (
    <a
      class={twMerge(
        'relative flex h-8 w-full cursor-default items-center whitespace-nowrap rounded-md px-2 text-[13px] font-medium text-gray-800 data-[is-focused]:bg-zinc-100/80 data-[is-focused]:text-gray-900 dark:text-gray-300 data-[is-focused]:dark:bg-zinc-100/[0.06] data-[is-focused]:dark:text-gray-200',
        className,
      )}
      data-dropdown-item
      x-on:mouseover="hoverItem($event)"
      {...props}
    >
      <slot />
    </a>
  )
}

{
  as == 'div' && (
    <div
      role="menuitem"
      class={twMerge(
        'px23 relative flex h-8 w-full cursor-default items-center whitespace-nowrap rounded-md text-[13px] font-medium text-gray-800 data-[is-focused]:bg-zinc-100/80 data-[is-focused]:text-gray-900 dark:text-gray-300 data-[is-focused]:dark:bg-zinc-100/[0.06] data-[is-focused]:dark:text-gray-200',
        className,
      )}
      data-dropdown-item
      x-on:mouseover="hoverItem($event)"
      {...props}
    >
      <slot />
    </div>
  )
}

{
  as == 'button' && (
    <button
      role="menuitem"
      class={twMerge(
        'relative flex h-8 w-full cursor-default items-center whitespace-nowrap rounded-md px-2 text-[13px] font-medium text-gray-800 data-[is-focused]:bg-zinc-100/80 data-[is-focused]:text-gray-900 dark:text-gray-300 data-[is-focused]:dark:bg-zinc-100/[0.06] data-[is-focused]:dark:text-gray-200',
        className,
      )}
      data-dropdown-item
      x-on:mouseover="hoverItem($event)"
      {...props}
    >
      <slot />
    </button>
  )
}
