---
import Layout from '@layouts/rinsedocs/Raw.astro';
import Button from '@components/ui/general/buttons/PrimaryButton.astro';
---

<Layout layoutClass="flex items-center justify-center h-[100px]">
	<Button size="lg" variant="primary" danger fluid>Button</Button>
</Layout>
