---
import Layout from '@layouts/rinsedocs/Raw.astro';
import SecondaryButton from '@components/ui/general/buttons/SecondaryButton.astro';
---

<Layout layoutClass="grid grid-cols-1 mx-auto px-4 max-w-[320px] py-10 gap-4 flex-wrap">
	<div class="grid max-w-[320px] grid-cols-1 gap-2">
		<div class="grid grid-cols-2 gap-2">
			<SecondaryButton>Default</SecondaryButton>
			<SecondaryButton disabled>Disabled</SecondaryButton>
		</div>
		<div>
			<SecondaryButton danger fluid>Danger</SecondaryButton>
		</div>
		<div>
			<SecondaryButton fluid>Fluid</SecondaryButton>
		</div>
	</div>
</Layout>
