---
import { twMerge } from 'tailwind-merge';

const { data, className, ...props } = Astro.props;
---

<div x-data={`Dropdown(${JSON.stringify(data)})`} class={twMerge('relative', className)} {...props}>
  <slot />
</div>

<script>
  import Alpine from 'alpinejs';

  document.addEventListener('alpine:init', () => {
    Alpine.data('Dropdown', (initialState = {}) => ({
      isOpen: initialState.isOpen || false,
    }));
  });
</script>
