---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import { Tabs, TabsList, TabsTrigger, TabsContent } from '@/components/Tabs';
import { Button } from '@/components/Button';
import { TextField } from '@/components/TextField';
import SelectField from '@/components/SelectField';
import Card from '@/components/Card';
import {
  Dropdown,
  DropdownContent,
  DropdownGroup,
  DropdownHeader,
  DropdownItem,
  DropdownList,
  DropdownDivider,
  DropdownTrigger,
} from '@/components/Dropdown';
import Table from '@/components/Table';
---

<Layout class="">
  <div class="px-7 py-4">
    <h1 class="mb-2 text-lg font-bold text-black">Current Environment</h1>
    <p class="text-sm text-gray-600">
      View and configure your current environment settings.
    </p>
  </div>
  <div>
    <Tabs selection="integrations">
      <TabsList className="px-7">
        <TabsTrigger
          name="configuration"
          href="/components/templates/current-environment/configuration"
        >
          Configuration
        </TabsTrigger>
        <TabsTrigger
          name="integrations"
          href="/components/templates/current-environment/integrations"
        >
          Integrations
        </TabsTrigger>
      </TabsList>
    </Tabs>
  </div>
  <div class="px-7 py-10">
    <div class="space-y-14">
      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <i class="fa-brands fa-slack"></i>
          Slack Alerts
        </h3>

        <div
          class="flex items-center justify-center rounded-lg border border-zinc-200 py-14 shadow-sm"
        >
          <div class="flex flex-col items-center text-center">
            <i class="fa-brands fa-slack mb-2 text-[40px] text-slate-300"></i>
            <h4 class="mb-3 text-lg font-extrabold text-gray-900">
              No Slack alerts
            </h4>
            <p class="mb-5 max-w-[280px] text-sm text-gray-600">
              There are no Slacks associated with your Lists.
            </p>
            <Button size="md">
              <i class="fa-regular fa-plus mr-1.5"></i> Create Slack alert
            </Button>
          </div>
        </div>

        <div class="mt-4">
          <Button size="sm" variant="secondary">
            <i class="fa-regular fa-plus mr-1.5"></i> Create Slack alert
          </Button>
        </div>
      </div>

      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <i class="fa-solid fa-webhook"></i>
          Webhooks
        </h3>

        <div class="space-y-4">
          <Card className="overflow-auto">
            <Table x-data="Table">
              <Table.Header>
                <Table.Row>
                  <Table.Head className="w-[180px] px-4 py-4" colspan="7">
                    <h3
                      class="flex items-center gap-2 text-xs font-semibold text-gray-900"
                    >
                      Connected to lists (8)
                    </h3>
                  </Table.Head>
                  <Table.Head />
                </Table.Row>
              </Table.Header>
              <Table.Body>
                <Table.Row>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    Send webhook
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      https://castle.io
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    if
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      Entry <span class="font-extrabold text-gray-900"
                        >is added</span
                      >
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    to
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      <div class="h-3 w-3 rounded-sm bg-green-500"></div>
                      Trusted user devices
                    </div>
                  </Table.Cell>
                  <Table.Cell className="w-full py-3">
                    <div class="flex justify-end gap-1.5">
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Edit
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Remove
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                    </div>
                  </Table.Cell>
                </Table.Row>
                <Table.Row>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    Send webhook
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      https://castle.io
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    if
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      Entry <span class="font-extrabold text-gray-900"
                        >is added</span
                      >
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    to
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      <div class="h-3 w-3 rounded-sm bg-green-500"></div>
                      Trusted user devices
                    </div>
                  </Table.Cell>
                  <Table.Cell className="w-full py-3">
                    <div class="flex justify-end gap-1.5">
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Edit
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Remove
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                    </div>
                  </Table.Cell>
                </Table.Row>
              </Table.Body>
            </Table>
          </Card>

          <Card className="overflow-auto">
            <Table x-data="Table">
              <Table.Header>
                <Table.Row>
                  <Table.Head className="w-[180px] px-4 py-4" colspan="7">
                    <h3
                      class="flex items-center gap-2 text-xs font-semibold text-gray-900"
                    >
                      Connected to policies (4)
                    </h3>
                  </Table.Head>
                  <Table.Head />
                </Table.Row>
              </Table.Header>
              <Table.Body>
                <Table.Row>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    Send webhook
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      https://castle.io
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    if
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      Event
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    to
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      Policy <span class="font-extrabold text-blue-500"
                        >Custom policy</span
                      >
                    </div>
                  </Table.Cell>
                  <Table.Cell className="w-full py-3">
                    <div class="flex justify-end gap-1.5">
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Edit
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Remove
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                    </div>
                  </Table.Cell>
                </Table.Row>
                <Table.Row>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    Send webhook
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      https://castle.io
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    if
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      Event
                    </div>
                  </Table.Cell>
                  <Table.Cell
                    className="whitespace-nowrap px-4 text-xs font-semibold text-gray-400"
                  >
                    to
                  </Table.Cell>
                  <Table.Cell className="whitespace-nowrap px-4">
                    <div
                      class="inline-flex h-8 items-center gap-2 rounded-md bg-zinc-100 px-3 font-semibold text-gray-900"
                    >
                      Policy <span class="font-extrabold text-blue-500"
                        >Custom policy</span
                      >
                    </div>
                  </Table.Cell>
                  <Table.Cell className="w-full py-3">
                    <div class="flex justify-end gap-1.5">
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Edit
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                      <Button
                        size="xs"
                        variant="outline"
                        @click="updateHeaderState(5)"
                      >
                        Remove
                        <i
                          x-cloak
                          x-show="sortSelection == 5"
                          class="fa-solid fa-fw ml-1 text-[11px]"
                          :class="isAscending == true ? 'fa-angle-down' : 'fa-angle-up'"
                        ></i>
                      </Button>
                    </div>
                  </Table.Cell>
                </Table.Row>
              </Table.Body>
            </Table>
          </Card>
        </div>

        <div class="mt-4">
          <Button size="sm" variant="secondary">
            <i class="fa-regular fa-plus mr-1.5"></i> Create
          </Button>
        </div>
      </div>
    </div>
  </div>
</Layout>@/components/Button@/components/SelectField@/components/Card@/components/Dropdown@/components/Table
@/components/Tabs@/components/Button@/components/TextField@/components/SelectField@/components/Card@/components/Dropdown@/components/Table
