---
import { twMerge } from 'tailwind-merge';

const { isOpen = false, className = null } = Astro.props;
---

<div class={twMerge('relative', className)} x-data={`{isOpen: ${isOpen == true ? 'true}' : 'false}'}`}>
  <slot />
</div>
