---
import Button from '@/components/ui/elements/Button';
---

<div
  class="mx-auto flex max-w-xl flex-col items-center justify-start gap-4 sm:flex-row sm:items-end sm:justify-around"
>
  <Button size="xs">Button</Button>
  <Button size="sm">Button</Button>
  <Button size="md">Button</Button>
  <Button size="lg">Button</Button>
  <Button size="xl">Button</Button>
</div>
