---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@/components/ui/elements/Button';
---

<Layout layoutClass="px-4 py-8">
  <div class="mx-auto flex max-w-xl flex-col items-center justify-start space-y-4 sm:flex-row sm:items-end sm:justify-around sm:space-y-0">
    <Button size="xs">Button</Button>
    <Button size="sm">Button</Button>
    <Button size="md">Button</Button>
    <Button size="lg">Button</Button>
    <Button size="xl">Button</Button>
  </div>
</Layout>
