---
import Tab from '@/components/ui/elements/Tab';
---

<label
  class="flex items-center text-sm font-medium text-gray-900 dark:text-gray-300"
>
  <Tab>
    <Tab.Item isActive>Tab 1</Tab.Item>
    <Tab.Item>Tab 2</Tab.Item>
    <Tab.Item>Tab 3</Tab.Item>
    <Tab.Item>Tab 4</Tab.Item>
    <Tab.Item>Tab 5</Tab.Item>
  </Tab>
</label>
