---
import SidebarListItem from '@components/rinsedocs/SidebarListItem.astro';

const { data } = Astro.props;
---

<ul class="" transition:persist>
	{
		data.map((group) => {
			return (
				<li x-data="{open: true}">
					<button class="text-slate-[#424d6a] text-[10px] font-bold uppercase leading-[32px] tracking-wide" x-on:click="open = !open, active = !active">
						<div class="group/sidebarParent inline-flex items-center">
							{group.label}
							<svg
								x-bind:class="open ? '' : '-rotate-90'"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								class="h-4 w-4 opacity-0 duration-200 group-hover/sidebarParent:opacity-100"
							>
								<path
									fill-rule="evenodd"
									d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
									clip-rule="evenodd"
								/>
							</svg>
						</div>
					</button>
					<div x-cloak x-show="open == true">
						<ul>
							{group.pages.map((page) => (
								<SidebarListItem page={page} />
							))}
						</ul>
					</div>
				</li>
			);
		})
	}
</ul>
