---
const { page } = Astro.props;
---

{
	page.isIndex ? (
		<li class="last:mb-4" x-data="{open: false}">
			{
				<a x-on:click="open = !open" href={'/' + page.url} class="flex items-center justify-between text-[13px] leading-[28px] text-slate-400 hover:text-slate-200">
					{page.title}
					<svg
						class="h-4 w-4"
						x-bind:class="open ? 'rotate-90' : ''"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="lucide lucide-chevron-right"
					>
						<path d="m9 18 6-6-6-6" />
					</svg>
				</a>
			}

			{page.pages.length > 0 && (
				<ul class="ml-4" x-show="open == true">
					{page.pages.map((subpage) => (
						<Astro.self page={subpage} />
					))}
				</ul>
			)}
		</li>
	) : (
		<li class="last:mb-4">
			<a href={'/' + page.url} class="flex items-center text-[13px] leading-[28px] text-slate-400 hover:text-slate-200" x-data={page.isIndex ? '{open: false}' : ''}>
				{page.title}
			</a>
		</li>
	)
}
