---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@/components/ui/elements/Button';
---

<Layout layoutClass="flex items-center justify-center h-[100px]">
  <Button size="lg">Button</Button>
</Layout>
