---
import Layout from '@/layouts/rinsedocs/Raw.astro';

import Checkbox from '@/components/ui/elements/Checkbox';
import Button from '@/components/ui/elements/Button';
import Tooltip from '@/components/ui/elements/Tooltip';
import Dropdown from '@/components/ui/modules/Dropdown';
---

<Layout layoutClass="py-10">
  <div class="mb-4 flex items-center justify-between px-5">
    <h3 class="text-[14px] font-semibold text-gray-900 dark:text-gray-300">
      1,252 Events
    </h3>
    <div class="flex gap-2">
      <Button size="sm" variant="outline">View settings</Button>
      <Button size="sm" variant="outline">Export</Button>
      <div
        class="flex -space-x-px overflow-hidden rounded-md shadow-sm dark:shadow-none"
      >
        <div>
          <Button size="sm" variant="outline" isSquare noShadow rounded="left">
            <i class="fa-solid fa-angle-left"></i>
          </Button>
        </div>
        <div>
          <Button size="sm" variant="outline" isSquare noShadow rounded="right">
            <i class="fa-solid fa-angle-right"></i>
          </Button>
        </div>
      </div>
    </div>
  </div>
  <div class="overflow-auto">
    <table
      class="w-full bg-white text-left dark:bg-zinc-900"
      x-data="{ showPageViewEvents: false, collapseScore: true }"
    >
      <thead>
        <tr class="border-b border-zinc-200 dark:border-zinc-800">
          <th class="px-1 py-2 first:pl-5">
            <Checkbox />
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Button size="sm" variant="ghost" isSquare>
              <i class="fa-solid fa-gauge"></i>
            </Button>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Button size="sm" variant="ghost" isSquare>
              <i class="fa-solid fa-shield"></i>
            </Button>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Button size="sm" variant="ghost" isSquare>
              <i class="fa-solid fa-robot"></i>
            </Button>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  Policy
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  Event
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  User
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  Location
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  Connection
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  Device
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  List
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="px-1 py-2 first:pl-5">
            <Dropdown>
              <Dropdown.Trigger>
                <Button size="sm" variant="ghost">
                  Triggered Signal
                  <Tooltip widthClass="w-[180px]" className="ml-2">
                    <Tooltip.Trigger>
                      <i class="fa-solid fa-fw fa-sparkles text-blue-500"></i>
                    </Tooltip.Trigger>
                    <Tooltip.Content
                      className="w-[200px]"
                      enterClassName="delay-1000"
                    >
                      This is a smart column. Castle automatically enriches
                      content using event data.
                    </Tooltip.Content>
                  </Tooltip>
                </Button>
              </Dropdown.Trigger>
              <Dropdown.Content>
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-up fa-fw"></i>
                      </div>
                       Sort ascending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-down fa-fw"></i>
                      </div>
                       Sort descending
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-left fa-fw"></i>
                      </div>
                       Move left
                    </Dropdown.Item>
                    <Dropdown.Item onClick="isOpen = false">
                      <div class="mr-1.5 flex items-center justify-center">
                        <i class="fa-solid fa-arrow-right fa-fw"></i>
                      </div>
                       Move right
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
                <Dropdown.Separator />
                <Dropdown.Group>
                  <Dropdown.Item onClick="isOpen = false">
                    <div class="mr-1.5 flex items-center justify-center">
                      <i class="fa-solid fa-eye-slash fa-fw"></i>
                    </div>
                     Hide from view
                  </Dropdown.Item>
                </Dropdown.Group>
              </Dropdown.Content>
            </Dropdown>
          </th>
          <th class="h-10 w-full px-1 first:pl-5"> </th>
        </tr>
      </thead>
      <tbody class="medium color-cool-gray-600 text-xs">
        <tr class="border-b border-zinc-200 dark:border-zinc-800">
          <td class="h-[200px]"></td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>
