---
import { Tabs, TabsList, TabsTrigger, TabsContent } from '@/components/ui/Tabs';
---

<label class="flex items-center text-sm font-medium text-gray-900 dark:text-gray-300">
  <Tabs selection="tab-1">
    <TabsList>
      <TabsTrigger name="tab-1">Tab 1</TabsTrigger>
      <TabsTrigger name="tab-2">Tab 2</TabsTrigger>
      <TabsTrigger name="tab-3">Tab 3</TabsTrigger>
      <TabsTrigger name="tab-4">Tab 4</TabsTrigger>
    </TabsList>
  </Tabs>
</label>
