@config "../../tailwind.config.cjs";

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2?v=4.0') format('woff2');
}

/* Alpine JS - https://alpinejs.dev/directives/cloak */
[x-cloak] {
  display: none !important;
}
