@config "../../tailwind.rinsedocs.config.js";

/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/InterVariable.woff2?v=4.0') format('woff2');
}

/* Alpine JS - https://alpinejs.dev/directives/cloak */
[x-cloak] {
  display: none !important;
}

.sidebar-item {
  @apply flex items-center justify-between truncate rounded-md pl-2.5 pr-1 text-[13px] leading-[28px]  text-gray-600 hover:bg-zinc-200/70 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-zinc-800/70 hover:dark:text-gray-100;
}
.sidebar-item.is-active {
  @apply bg-zinc-200/70 text-gray-900 dark:bg-zinc-800/70 dark:text-gray-100;
}

.rinsedown {
  @apply text-[15px] leading-relaxed text-gray-600 dark:text-gray-400;
}

.rinsedown > h1,
.rinsedown > h2,
.rinsedown > h3,
.rinsedown > h4,
.rinsedown > h5,
.rinsedown > h6,
.rinsedown > p,
.rinsedown > blockquote,
.rinsedown > pre,
.rinsedown > ul,
.rinsedown > ol,
.rinsedown > dl,
.rinsedown > table {
  @apply max-w-2xl;
}

.rinsedown > h1,
.rinsedown > h2,
.rinsedown > h3 {
  @apply font-semibold tracking-tight text-gray-900 dark:text-gray-100;
}

.rinsedown > hr {
  @apply my-10 border-t border-zinc-200 dark:border-zinc-700;
}

.rinsedown > h1 {
  font-size: 1.8em;
}

.rinsedown > h2 {
  @apply mb-3 mt-10 text-lg font-[650];
}

.rinsedown > h3 {
  @apply mb-3 mt-6 text-[15px] font-[650];
}

.rinsedown > p {
  @apply mb-3.5;
}

.rinsedown > blockquote {
  margin-left: 0;
  padding-left: 1em;
  color: #777;
  border-left: 4px solid #ddd;
}

.rinsedown > pre {
  padding: 16px;
  overflow: auto;
  font-family: monospace;
  background-color: #f6f6f6;
  @apply rounded-lg;
}

.rinsedown > p code {
  @apply mx-1 select-all rounded-md bg-zinc-100 px-1.5 py-0.5 text-xs font-semibold dark:bg-zinc-700 dark:text-gray-100;
}

.rinsedown > ul,
.rinsedown > ol {
  margin-top: 16px;
  margin-bottom: 16px;
}

.rinsedown > ul {
  padding-left: 30px;
  list-style-type: disc;
}

.rinsedown > ol {
  padding-left: 30px;
  list-style-type: decimal;
}

.rinsedown > ul ul,
.rinsedown > ol ol,
.rinsedown > ul ol,
.rinsedown > ol ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
}

.rinsedown > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 16px;
}

.rinsedown > table th,
.rinsedown > table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.rinsedown > table th {
  background-color: #f6f6f6;
  font-weight: bold;
}

.rinsedown > a {
  color: #0366d6;
  text-decoration: none;
}

.rinsedown > a:hover {
  text-decoration: underline;
}

.rinsedown > img {
  max-width: 100%;
  display: block;
}

/* RD Component */
.rd-code-preview {
  @apply mb-6 mt-6;
}
