---
import { twMerge } from 'tailwind-merge';

const { isOpen = false, className = null, ...props } = Astro.props;
---

<div
  x-data={`{isOpen: ${isOpen}}`}
  class={twMerge(className)}
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  {...props}
>
  <slot />
</div>
