---
import { twMerge } from 'tailwind-merge';
const { className, ...props } = Astro.props;
---

<div
  class={twMerge(
    'my-2 flex items-center px-2 text-xs font-medium text-gray-500 dark:text-gray-400',
    className,
  )}
  {...props}
>
  <slot />
</div>
