---
import Select from '@/components/ui/elements/Select';
---

<div class="justify-content flex items-center">
  <Select x-data="{ isOpen: false }" position="bottomEnd">
    <Select.Trigger isFluid>
      <Select.Value placeholder="Select a fruit" />
    </Select.Trigger>
    <Select.Content position="bottomEnd" className="w-full">
      <Select.Group>
        <Select.Items>
          <Select.Item>Apple</Select.Item>
          <Select.Item>Cherry</Select.Item>
          <Select.Item>Tomato</Select.Item>
        </Select.Items>
      </Select.Group>
    </Select.Content>
  </Select>
</div>
