---
import {
  Select,
  SelectNative,
  SelectGroup,
  SelectTrigger,
  SelectField,
  SelectContent,
  SelectHeader,
  SelectLabel,
  SelectItems,
  SelectItem,
  SelectOption,
  SelectSeparator,
} from '@/components/ui/elements/Select';
---

<div class="justify-content flex flex-col items-center gap-4">
  <Select className="w-[200px]" data-id="component1">
    <SelectTrigger>
      <SelectField isFluid placeholder="Select option" />
    </SelectTrigger>
    <SelectContent position="bottomStart" className="w-[200px]">
      <SelectGroup>
        <SelectLabel>Fruits</SelectLabel>
        <SelectItems>
          <SelectItem value="Apple">Apple</SelectItem>
          <SelectItem value="Cherry" @click="isOpen = false">Cherry</SelectItem>
          <SelectItem value="Tomato">Tomato</SelectItem>
        </SelectItems>
      </SelectGroup>
    </SelectContent>
  </Select>

  <Select className="w-[200px]">
    <SelectTrigger>
      <SelectField isFluid placeholder="Select option" />
    </SelectTrigger>
    <SelectContent position="bottomStart" className="w-[200px]">
      <SelectGroup>
        <SelectLabel>Fruits</SelectLabel>
        <SelectItems>
          <SelectItem value="Apple">Apple</SelectItem>
          <SelectItem value="Cherry" @click="isOpen = false">Cherry</SelectItem>
          <SelectItem value="Tomato">Tomato</SelectItem>
        </SelectItems>
      </SelectGroup>
    </SelectContent>
  </Select>

  <button
    @click="$dispatch('update-validation', { targetId: 'component1', newValidation: 'success' })"
  >
    Update Validation for Component 1
  </button>

  <!-- <Select className="w-[200px]" validation="success">
    <SelectTrigger>
      <SelectField isFluid placeholder="Select option" />
    </SelectTrigger>
    <SelectContent position="bottomStart" className="w-[200px]">
      <SelectGroup>
        <SelectLabel>Fruits</SelectLabel>
        <SelectItems>
          <SelectItem value="Apple">Apple</SelectItem>
          <SelectItem value="Cherry" @click="isOpen = false">Cherry</SelectItem>
          <SelectItem value="Tomato">Tomato</SelectItem>
        </SelectItems>
      </SelectGroup>
    </SelectContent>
  </Select>

  <SelectNative>
    <SelectOption value="Apple">Apple</SelectOption>
    <SelectOption value="Cherry">Cherry</SelectOption>
    <SelectOption value="Tomato">Tomato</SelectOption>
  </SelectNative> -->
</div>
