---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Tab from '@/components/ui/elements/Tab';
import Button from '@/components/ui/elements/Button';
import Tooltip from '@/components/ui/elements/Tooltip';
---

<Layout layoutClass="">
  <div class="px-7 py-4">
    <h1 class="mb-2 text-lg font-bold text-black">Organization Settings</h1>
    <p class="text-sm text-gray-600">View or update your organization and billing settings.</p>
  </div>
  <div>
    <Tab className="px-7">
      <TabTrigger onClick="link('/components/templates/organization-settings/general')">
        General
      </TabTrigger>
      <TabTrigger onClick="link('/components/templates/organization-settings/users')">
        Users
      </TabTrigger>
      <TabTrigger onClick="link('/components/templates/organization-settings/billing')" isActive>
        Billing
      </TabTrigger>
      <TabTrigger onClick="link('/components/templates/organization-settings/environment')">
        Environment
      </TabTrigger>
      <!-- <TabTrigger onClick="link('/components/templates/organization-settings/authentication')">Authentication</TabTrigger> -->
    </Tab>
  </div>
  <div class="px-7 py-10">
    <div class="mx-auto max-w-5xl space-y-14">
      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-credit-card"
            ><rect width="20" height="14" x="2" y="5" rx="2"></rect><line
              x1="2"
              x2="22"
              y1="10"
              y2="10"></line></svg
          >
           Current plan
        </h3>

        <div class="flex items-center rounded-lg border border-zinc-200 shadow-sm">
          <div class="w-[320px] flex-none border-r border-zinc-200 px-5 py-4">
            <h4 class="mb-1 text-xs font-semibold text-gray-900">Currently on</h4>
            <div class="mb-2 text-lg font-bold text-indigo-500">Pro plan</div>
            <div class="text-semibold mb-1 text-xs leading-none">Registered on Nov 2018</div>
          </div>
          <div class="flex-1 px-5 py-4">
            <h4 class="mb-1 text-xs font-semibold text-gray-900">Next upcoming bill</h4>
            <div class="mb-2 flex items-center gap-2 text-lg font-bold text-gray-900">
              $310
              <Tooltip position="top">
                <slot slot="tooltip-trigger"
                  ><div class="flex h-4 w-4 items-center justify-center">
                    <i
                      class="fa-solid fa-fw fa-circle-question text-sm leading-none text-gray-400/70 hover:text-gray-400"
                    ></i>
                  </div></slot
                >
                <slot slot="tooltip-content"
                  >100k API calls included for $200/mo. Then $0.002 per each API call.</slot
                >
              </Tooltip>
            </div>
            <div class="text-semibold mb-1 text-xs leading-none">
              For the period Jan 1 to Jan 12
            </div>
          </div>
        </div>
        <div class="mt-4">
          <Button size="md" variant="secondary">
            Manage billing <i class="fa-solid fa-external-link ml-2.5 text-xs"></i>
          </Button>
        </div>
      </div>

      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-gauge"
            ><path d="m12 14 4-4"></path><path d="M3.34 19a10 10 0 1 1 17.32 0"></path></svg
          >
           Current usage
        </h3>

        <div class="rounded-lg border border-zinc-200 px-5 py-4 shadow-sm">
          <h4 class="mb-3 text-xs font-semibold text-gray-900">API Request Usage</h4>
          <div class="text-semibold mb-6 text-xs leading-none">
            You have made a total of <strong class="text-gray-900">12,118 API requests</strong>.
          </div>
          <div class="h-[280px]">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script>
  import Chart from 'chart.js/auto';

  // Get the canvas element
  var ctx = document.getElementById('myChart').getContext('2d');

  // Sample data for each day of January
  var data = {
    labels: Array.from({ length: 31 }, (_, i) => i + 1), // Days of January
    datasets: [
      {
        label: 'API Requests',
        backgroundColor: 'rgba(59, 130, 246, 0.2)', // Background color for bars
        hoverBackgroundColor: 'rgba(59, 130, 246, 1)', // Background color on hover
        barThickness: 'flex',
        barPercentage: 1, // Adjust this value to control the width of the bars
        categoryPercentage: 1, // Adjust this value to control the gap between bars
        data: Array.from({ length: 31 }, () => Math.floor(Math.random() * 100)), // Sample data values
      },
    ],
  };

  // Customize the labels to show only every 4 days
  var customLabels = Array.from({ length: 31 }, (_, i) => (i % 4 === 0 ? `Jan ${i + 1}` : ''));

  // Chart options
  var options = {
    scales: {
      x: {
        grid: {
          display: false, // Display grid lines on the x-axis
        },
        ticks: {
          callback: function (value, index, values) {
            // Show only labels for every 4 days
            return customLabels[index];
          },
          maxRotation: 0, // Ensure horizontal display
          minRotation: 0, // Ensure horizontal display
        },
      },
      y: {
        beginAtZero: true,
      },
    },
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      },
      tooltip: {
        xAlign: 'center',
        yAlign: 'bottom',
        displayColors: false,
        backgroundColor: 'black', // Set background color
        titleColor: '#fff', // Set title font color
        bodyColor: '#fff', // Set body font color,
        bodyFont: {
          size: 11,
        },
        callbacks: {
          label: function (context) {
            return context.parsed.y + ' ' + 'API requests';
          },
          title: function (tooltipItems) {
            // Customize the tooltip title
            if (tooltipItems.length > 0) {
              var firstItem = tooltipItems[0];
              return 'Jan ' + firstItem.label;
            }
            return '';
          },
        },
      },
    },
  };

  // Create the bar chart
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options,
  });
</script>
 @/components/ui/elements/Tabs
