---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import { Tabs, TabsList, TabsTrigger, TabsContent } from '@/components/ui/elements/Tabs';
import Button from '@/components/ui/elements/Button';
---

<Layout class="">
  <div class="px-7 py-4">
    <h1 class="mb-2 text-lg font-bold text-black">Organization Settings</h1>
    <p class="text-sm text-gray-600">View or update your organization and billing settings.</p>
  </div>
  <div>
    <Tabs selection="billing">
      <TabsList className="px-7">
        <TabsTrigger name="general" href="/components/templates/organization-settings/general">
          General
        </TabsTrigger>
        <TabsTrigger name="users" href="/components/templates/organization-settings/users">
          Users
        </TabsTrigger>
        <TabsTrigger
          name="billing"
          href="/components/templates/organization-settings/billing"
          isActe
        >
          Billing
        </TabsTrigger>
        <TabsTrigger
          name="environment"
          href="/components/templates/organization-settings/environment"
        >
          Environment
        </TabsTrigger>
      </TabsList>
    </Tabs>
  </div>
  <div class="px-7 py-10">
    <div class="mx-auto max-w-5xl space-y-14">
      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-gauge"
            ><path d="m12 14 4-4"></path><path d="M3.34 19a10 10 0 1 1 17.32 0"></path></svg
          >
           Plan & Usage
        </h3>

        <div class="flex items-center rounded-lg border border-zinc-200 shadow-sm">
          <div class="w-[320px] flex-none border-r border-zinc-200 px-5 py-4">
            <h4 class="mb-1 text-xs font-semibold text-gray-900">Currently on</h4>
            <div class="mb-2 text-lg font-bold text-indigo-500">Free plan</div>
            <div class="text-semibold mb-1 text-xs leading-none">Registered on Nov 2018</div>
          </div>
          <div class="flex-1 px-5 py-4">
            <h4 class="mb-1 text-xs font-semibold text-gray-900">Free monthly API usage</h4>
            <div class="mb-2 flex h-7 items-center">
              <div class="relative flex h-2 w-full overflow-hidden rounded-full bg-zinc-100">
                <div class="h-2 bg-blue-500" style="width: 200px;"></div>
              </div>
            </div>
            <div class="text-semibold mb-1 text-xs leading-none">120/1,000 API Calls per month</div>
          </div>
        </div>
      </div>

      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-credit-card"
            ><rect width="20" height="14" x="2" y="5" rx="2"></rect><line
              x1="2"
              x2="22"
              y1="10"
              y2="10"></line></svg
          >
           Your Subscription
        </h3>

        <div
          class="flex h-[320px] items-center justify-center rounded-lg border border-zinc-200 shadow-sm"
        >
          <div class="flex flex-col items-center text-center">
            <i class="fa-solid fa-stars mb-2 text-[40px] text-purple-500"></i>
            <h4 class="mb-3 text-lg font-bold text-purple-500">Subscribe to Pro</h4>
            <p class="mb-5 max-w-[280px] text-sm text-gray-600">
              Launch your project with unlimited calls and no contractual minimums
            </p>
            <Button size="md">
              Upgrade plan <i class="fa-regular fa-arrow-right ml-1.5"></i>
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
