---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import { Tabs, TabsList, TabsTrigger, TabsContent } from '@/components/ui/Tabs';
import Button from '@/components/ui/Button';
import Card from '@/components/ui/Card';
import { TextField } from '@/components/ui/TextField';
import SelectField from '@/components/ui/SelectField';
import {
  Dropdown,
  DropdownContent,
  DropdownGroup,
  DropdownHeader,
  DropdownItem,
  DropdownList,
  DropdownSeparator,
  DropdownTrigger,
} from '@/components/ui/Dropdown';
---

<Layout class="">
  <div class="px-7 py-4">
    <h1 class="mb-2 text-lg font-bold text-black">Organization Settings</h1>
    <p class="text-sm text-gray-600">
      View or update your organization and billing settings.
    </p>
  </div>
  <div>
    <Tabs selection="general">
      <TabsList className="px-7">
        <TabsTrigger
          name="general"
          href="/components/templates/organization-settings/general"
        >
          General
        </TabsTrigger>
        <TabsTrigger
          name="users"
          href="/components/templates/organization-settings/users"
        >
          Users
        </TabsTrigger>
        <TabsTrigger
          name="billing"
          href="/components/templates/organization-settings/billing"
          isActe
        >
          Billing
        </TabsTrigger>
        <TabsTrigger
          name="environment"
          href="/components/templates/organization-settings/environment"
        >
          Environment
        </TabsTrigger>
      </TabsList>
    </Tabs>
  </div>
  <div class="px-7 py-10">
    <div class="mx-auto max-w-xl space-y-14">
      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-building"
            ><rect width="16" height="20" x="4" y="2" rx="2" ry="2"></rect><path
              d="M9 22v-4h6v4"></path><path d="M8 6h.01"></path><path
              d="M16 6h.01"></path><path d="M12 6h.01"></path><path
              d="M12 10h.01"></path><path d="M12 14h.01"></path><path
              d="M16 10h.01"></path><path d="M16 14h.01"></path><path
              d="M8 10h.01"></path><path d="M8 14h.01"></path></svg
          >
          Orgnization Details
        </h3>

        <Card>
          <Card.Group>
            <div class="space-y-6">
              <div>
                <label
                  class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                  >Orgnization name</label
                >
                <TextField value="Castle" isFluid />
              </div>
              <div class="flex justify-end">
                <Button
                  onClick={'isOpen = !isOpen'}
                  size="sm"
                  variant="primary"
                >
                  Save settings
                </Button>
              </div>
            </div>
          </Card.Group>
        </Card>
      </div>

      <div class="">
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-key-round"
            ><path
              d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"
            ></path><circle cx="16.5" cy="7.5" r=".5"></circle></svg
          >
          Authentication
        </h3>

        <div class="space-y-4">
          <Card>
            <Card.Group>
              <div class="mb-4 space-y-6">
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Require 2FA</label
                  >
                  <p class="font-regular mb-4 text-xs text-gray-600">
                    Required Two-Factor Authentication adds an extra layer of
                    security for your organization. When required, users that
                    have Two-Factor Authentication disabled will be prompted to
                    set this up on their next login.
                  </p>
                  <p class="font-regular text-xs text-gray-600">
                    Make sure you have changed your integration of Castle.js to
                    support Secure Mode before turning this on.
                  </p>
                </div>
              </div>
              <div class="flex justify-end">
                <Button
                  onClick={'isOpen = !isOpen'}
                  size="sm"
                  variant="primary"
                >
                  Enable secure mode
                </Button>
              </div>
            </Card.Group>
          </Card>

          <Card>
            <Card.Group>
              <div class="mb-4 space-y-6">
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Google Login enabled</label
                  >
                  <p class="font-regular mb-4 text-xs text-gray-600">
                    Allows users to sign in using their Google account
                    credentials.
                  </p>
                </div>
              </div>
              <div class="flex justify-end">
                <Button
                  onClick={'isOpen = !isOpen'}
                  size="sm"
                  variant="primary"
                >
                  Enable Google login
                </Button>
              </div>
            </Card.Group>
          </Card>
        </div>
      </div>
      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-user"
            ><circle cx="12" cy="12" r="10"></circle><circle
              cx="12"
              cy="10"
              r="3"></circle><path
              d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"></path></svg
          >
          OpenID Connect Settings
        </h3>

        <div class="space-y-4">
          <Card>
            <Card.Group>
              <div class="mb-4 space-y-6">
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >SSO enabled</label
                  >
                  <p class="font-regular mb-4 text-xs text-gray-600">
                    Single sign-on (SSO) is an authentication method that
                    enables users to securely authenticate with multiple
                    applications and websites by using just one set of
                    credentials.
                  </p>
                </div>
              </div>
              <div class="flex justify-end">
                <Button
                  onClick={'isOpen = !isOpen'}
                  size="sm"
                  variant="primary"
                >
                  Enable single sign-on
                </Button>
              </div>
            </Card.Group>
          </Card>

          <Card>
            <Card.Group>
              <div class="space-y-6">
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >SSO enabled</label
                  >
                  <p class="font-regular text-xs text-gray-600">
                    Single sign-on (SSO) is an authentication method that
                    enables users to securely authenticate with multiple
                    applications and websites by using just one set of
                    credentials.
                  </p>
                </div>
              </div>
            </Card.Group>
            <Card.Group>
              <div class="space-y-6">
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Client ID</label
                  >
                  <TextField value="12345" isFluid />
                </div>
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Client secret</label
                  >
                  <TextField
                    xData="{isVisible: false}"
                    xType="isVisible ? 'text' : 'password'"
                    type="password"
                    value="5919592012"
                    isFluid
                  >
                    <Fragment slot="text-field-content">
                      <button
                        @click="isVisible = !isVisible"
                        class="absolute right-0 top-0 flex aspect-square h-full items-center justify-center text-sm text-gray-500 hover:text-gray-600"
                      >
                        <i
                          class="fa-solid"
                          :class="isVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
                      </button>
                    </Fragment>
                  </TextField>
                </div>
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Auto create users</label
                  >
                  <Dropdown>
                    <DropdownTrigger>
                      <SelectField value="True" isFluid />
                    </DropdownTrigger>
                    <DropdownContent position="bottomEnd" className="w-full">
                      <DropdownGroup>
                        <DropdownList>
                          <DropdownItem onClick={'isOpen = !isOpen'}>
                            False
                          </DropdownItem>
                          <DropdownItem onClick={'isOpen = !isOpen'}>
                            True
                          </DropdownItem>
                        </DropdownList>
                      </DropdownGroup>
                    </DropdownContent>
                  </Dropdown>
                </div>
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Default user role</label
                  >
                  <Dropdown>
                    <DropdownTrigger>
                      <SelectField value="admin" isFluid />
                    </DropdownTrigger>
                    <DropdownContent position="bottomEnd" className="w-full">
                      <DropdownGroup>
                        <DropdownList>
                          <DropdownItem onClick={'isOpen = !isOpen'}>
                            Admin
                          </DropdownItem>
                          <DropdownItem onClick={'isOpen = !isOpen'}>
                            User
                          </DropdownItem>
                        </DropdownList>
                      </DropdownGroup>
                    </DropdownContent>
                  </Dropdown>
                </div>
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Email domains</label
                  >
                  <TextField value="castle.io" isFluid />
                </div>
                <div>
                  <label
                    class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                    >Castle Login Redirect Url</label
                  >
                  <p class="font-regular mb-4 text-xs text-gray-600">
                    The Login Redirect URL that you must set in your Identity
                    Provider settings.
                  </p>
                  <div
                    class="flex items-center justify-between rounded-lg bg-zinc-100 text-sm font-medium text-gray-900"
                  >
                    <div
                      class="flex h-10 flex-1 items-center overflow-auto whitespace-nowrap pl-3 font-mono"
                    >
                      https://dashboard.castle.io/auth/openid_connect/callback?pid=55da25ee-bdea-4635-a2b0-99a6e5f987fc
                    </div>

                    <div class="flex gap-4">
                      <button
                        class="flex aspect-square h-10 items-center justify-center text-sm text-gray-500 hover:text-gray-600"
                      >
                        <i class="fa-solid fa-clipboard"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="flex justify-end gap-2">
                  <Button size="sm" variant="secondary">
                    Disable single sign-on
                  </Button>
                  <Button size="sm" variant="primary">Save SSO</Button>
                </div>
              </div>
            </Card.Group>
          </Card>
          <!-- <Card>
            <Card.Group>
              <div class="space-y-6">
                <div>
                  <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400">Castle Login Redirect Url</label>
                  <p class="font-regular mb-4 text-xs text-gray-600">The Login Redirect URL that you must set in your Identity Provider settings.</p>
                  <div class="flex items-center justify-between rounded-lg bg-zinc-100 text-sm font-medium text-gray-900">
                    <div class="flex h-10 flex-1 items-center overflow-auto whitespace-nowrap pl-3 font-mono">
                      https://dashboard.castle.io/auth/openid_connect/callback?pid=55da25ee-bdea-4635-a2b0-99a6e5f987fc
                    </div>

                    <div class="flex gap-4">
                      <button class="flex aspect-square h-10 items-center justify-center text-sm text-gray-500 hover:text-gray-600">
                        <i class="fa-solid fa-clipboard"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </Card.Group>
          </Card> -->
        </div>
      </div>
    </div>
  </div>
</Layout>@/components/ui/Button@/components/ui/Card@/components/ui/SelectField@/components/ui/Dropdown

