---
import { twMerge } from 'tailwind-merge';
const {
  data,
  size = 'md',
  variant = 'primary',
  isDanger,
  className,
  ...props
} = Astro.props;
---

<button
  data-is-danger={isDanger}
  class={twMerge(
    // Base
    `
    inline-flex 
    items-center 
    justify-center 
    px-[1em] 
    font-semibold 
    rounded-md 
    whitespace-nowrap 
    disabled:cursor-not-allowed`,

    // Focus
    `
    focus-visible:outline-none
    focus-visible:ring-2
    focus-visible:ring-inset
    focus-visible:ring-blue-500
    dark:focus-visible:ring-blue-500`,

    // Variant
    variant == 'primary' &&
      `
    text-white 
    dark:disabled:text-white/70 
    bg-blue-500 
    hover:bg-blue-600 
    dark:bg-blue-600 
    dark:hover:bg-blue-500 
    disabled:bg-blue-500/60 
    dark:disabled:bg-blue-600/30

    data-[is-danger]:text-white 
    data-[is-danger]:bg-red-500 
    data-[is-danger]:hover:bg-red-600 
    data-[is-danger]:dark:bg-red-600 
    data-[is-danger]:dark:hover:bg-red-500`,

    variant == 'secondary' &&
      `
    text-gray-700 
    dark:text-gray-100 
    disabled:text-gray-400 
    dark:disabled:text-gray-600 
    bg-zinc-100 
    hover:bg-zinc-200 
    dark:bg-zinc-100/10 
    dark:hover:bg-zinc-100/20 
    disabled:bg-zinc-200 
    dark:disabled:bg-zinc-600/10
    
    data-[is-danger]:text-red-700 
    data-[is-danger]:dark:text-red-300 
    data-[is-danger]:bg-red-100 
    data-[is-danger]:hover:bg-red-200 
    data-[is-danger]:dark:bg-red-400/20 
    data-[is-danger]:dark:hover:bg-red-400/30`,

    variant == 'outline' &&
      `
    text-gray-600 
    hover:text-gray-700 
    dark:text-gray-300 
    dark:hover:text-gray-100 
    disabled:text-gray-400 
    dark:disabled:text-gray-600 
    bg-white 
    hover:bg-zinc-50 
    dark:bg-zinc-100/[0.04] 
    dark:hover:bg-zinc-100/[0.08] 
    disabled:bg-transparent 
    dark:disabled:bg-transparent 
    ring-1 
    ring-inset 
    ring-zinc-300 
    dark:ring-zinc-700 
    disabled:ring-zinc-100 
    dark:disabled:ring-zinc-100/[0.06]

    data-[is-danger]:text-red-700 
    data-[is-danger]:hover:text-red-800 
    data-[is-danger]:dark:text-red-300 
    data-[is-danger]:dark:hover:text-red-200 
    data-[is-danger]:disabled:text-red-400 
    data-[is-danger]:dark:disabled:text-red-600 
    data-[is-danger]:bg-white 
    data-[is-danger]:hover:bg-red-50 
    data-[is-danger]:dark:bg-red-400/10 
    data-[is-danger]:dark:hover:bg-red-400/20 
    data-[is-danger]:disabled:bg-transparentd 
    data-[is-danger]:dark:disabled:bg-transparent 
    data-[is-danger]:ring-1 
    data-[is-danger]:ring-inset 
    data-[is-danger]:ring-red-300 
    data-[is-danger]:dark:ring-red-300/20 
    data-[is-danger]:disabled:ring-red-100 
    data-[is-danger]:dark:disabled:ring-red-100/20
    `,

    variant == 'ghost' &&
      `
      text-gray-600 
      hover:text-gray-700 
      dark:text-gray-300 
      dark:hover:text-gray-100 
      disabled:text-gray-400 
      dark:disabled:text-gray-600 
      hover:bg-zinc-100 
      disabled:bg-transparent 
      dark:hover:bg-zinc-100/[0.08] 
      dark:disabled:bg-transparent
      
      data-[is-danger]:text-red-700 
      data-[is-danger]:hover:text-red-800 
      data-[is-danger]:dark:text-red-300 
      data-[is-danger]:dark:hover:text-red-200 
      data-[is-danger]:hover:bg-red-50 
      data-[is-danger]:dark:hover:bg-red-400/10`,

    // Size
    size == 'xs' && 'text-[12px] min-w-[28px] h-[28px]',
    size == 'sm' && 'text-[13px] min-w-[32px] h-[32px]',
    size == 'md' && 'text-[14px] min-w-[36px] h-[36px]',
    size == 'lg' && 'text-[15px] min-w-[40px] h-[40px]',
    size == 'xl' && 'text-[16px] min-w-[44px] h-[44px]',
    className,
  )}
  {...props}
>
  <slot />
</button>
