---
import { twMerge } from 'tailwind-merge';
const { className = null, ...props } = Astro.props;
---

<div class={twMerge('rounded-lg border border-zinc-200 shadow-sm', className)} {...props}>
  <slot />
</div>
