---
import { twMerge } from 'tailwind-merge';

const { data, isOpen, selection, validation, size, className, ...props } = Astro.props;

const defaultData = {
  isOpen: isOpen,
  selection: selection,
  validation: validation,
  size: size,
};

const xData = JSON.stringify({ ...defaultData, ...data }, null, 2).replace(/"/g, `'`);
---

<div x-data={`Select(${xData})`} class={twMerge('relative', className)} {...props}>
  <slot />
</div>

<script>
  import Alpine from 'alpinejs';

  document.addEventListener('alpine:init', () => {
    Alpine.data('Select', (initialState = {}) => ({
      isOpen: initialState.isOpen || false,
      selection: initialState.selection || 'option-1',
      validation: initialState.validation || 'default',
      size: initialState.size || 'md',
      className: {
        trigger: {
          validation: {
            default:
              'bg-white text-gray-900 ring-1 ring-inset ring-zinc-950/10 placeholder:text-gray-400 hover:ring-zinc-950/20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:ring-gray-200 dark:bg-zinc-100/[0.06] dark:text-gray-200 dark:ring-zinc-50/10 dark:hover:ring-zinc-50/20 dark:focus-visible:ring-blue-500 dark:disabled:bg-zinc-100/[0.06] dark:disabled:text-gray-400',
            success:
              'ring-2 ring-green-500 dark:ring-green-500 text-green-800 dark:text-green-200 placeholder:text-green-500',
            error:
              'ring-2 ring-red-500 dark:ring-red-500 text-red-800 dark:text-red-200 placeholder:text-red-500',
          },
          size: {
            xs: 'text-[12px] h-7 px-3 gap-3',
            sm: 'text-[13px] h-8 px-3 gap-3',
            md: 'text-[14px] h-9 px-3 gap-3',
            lg: 'text-[15px] h-10 px-3 gap-3',
            xl: 'text-[16px] h-11 px-4 gap-3',
          },
        },
      },
      init() {
        this.setState(initialState);
      },
      setState(state) {
        for (const path in state) {
          const pathParts = path.split('.');
          let currentPart = this;

          for (let i = 0; i < pathParts.length - 1; i++) {
            if (currentPart[pathParts[i]] === undefined) {
              console.warn(`State path "${pathParts[i]}" not found.`);
              return;
            }
            currentPart = currentPart[pathParts[i]];
          }

          const lastPart = pathParts[pathParts.length - 1];
          if (currentPart[lastPart] === undefined) {
            console.warn(`State path "${lastPart}" not found.`);
          } else {
            // Check if we are modifying a property inside className
            if (path.startsWith('className.')) {
              // Use twMerge for className properties
              currentPart[lastPart] = twMerge(currentPart[lastPart], state[path]);
            } else {
              // Directly assign the value for other properties
              currentPart[lastPart] = state[path];
            }
          }
        }
      },
      getClass(path) {
        const pathParts = path.split('.');
        let currentPart = this.className;

        for (const part of pathParts) {
          if (currentPart[part] === undefined) {
            console.warn(`Class path "${path}" not found.`);
            return '';
          }
          currentPart = currentPart[part];
        }
        return currentPart;
      },
      updateSelect(value) {
        this.isOpen = false;
        this.selection = value;

        // Get the clicked item's innerHTML
        const selectedValue = this.$el.querySelector(
          "[data-select-value='" + value + "']",
        ).innerHTML;

        // Update the target div's content
        this.$root.querySelector('[data-select-field]').innerHTML = selectedValue;
      },
    }));
  });
</script>
