---
import { twMerge } from 'tailwind-merge';

const { className = null, ...props } = Astro.props;
---

<div
  x-data="{ isOpen: false }"
  class={twMerge('relative', className)}
  {...props}
>
  <slot />
</div>
