---
import { twMerge } from 'tailwind-merge';
const {
  className = null,
  placeholder = 'Select option',
  validation = null,
  isFluid = null,
  ...props
} = Astro.props;
---

<button
  class="relative flex h-9 items-center rounded-md border-0 bg-white pl-3 text-[13px] text-gray-900 shadow-sm ring-1 ring-inset ring-zinc-950/10 placeholder:text-gray-400 hover:ring-zinc-950/20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:ring-gray-200 dark:bg-zinc-100/[0.06] dark:text-gray-200 dark:ring-zinc-50/10 dark:hover:ring-zinc-50/20 dark:focus-visible:ring-blue-500 dark:disabled:bg-zinc-100/[0.06] dark:disabled:text-gray-400"
  {...props}
  x-bind:class="{ 
    'bg-white text-gray-900 ring-1 ring-inset ring-zinc-950/10 placeholder:text-gray-400 hover:ring-zinc-950/20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:ring-gray-200 dark:bg-zinc-100/[0.06] dark:text-gray-200 dark:ring-zinc-50/10 dark:hover:ring-zinc-50/20 dark:focus-visible:ring-blue-500 dark:disabled:bg-zinc-100/[0.06] dark:disabled:text-gray-400'
    : validation == 'default',
    'bg-white ring-2 ring-green-500 dark:ring-green-500 text-green-800 dark:text-green-200 placeholder:text-green-500'
    : validation == 'success' 
  }"
>
  <div class="flex-1 text-left" x-text="selection"></div>
  <div class="flex-none px-3 text-gray-400">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevrons-up-down"
      ><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path></svg
    >
  </div>
  <slot />
</button>
