---
import { twMerge } from 'tailwind-merge';
const { className, ...props } = Astro.props;
---

<div class={twMerge('px-2 py-1 text-sm font-semibold text-gray-900', className)} {...props}>
  <slot />
</div>
