---
import { twMerge } from 'tailwind-merge';
const { className, value, ...props } = Astro.props;
---

<li
  role="menuitem"
  @click={`updateSelect('${value}')`}
  class={twMerge(
    'flex relative h-8 w-full cursor-default items-center rounded-md text-[13px] text-gray-800 hover:bg-zinc-100 hover:text-gray-900 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:hover:text-gray-200 dark:focus-visible:ring-blue-500',
    className,
  )}
  {...props}
>
  <div class="flex-1 px-2 text-left" data-select-value={value}>
    <slot />
  </div>
  <div class="flex-none px-3" x-cloak x-show={`selection == '${value}'`}>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-check"><path d="M20 6 9 17l-5-5"></path></svg
    >
  </div>
</li>
