---
import { twMerge } from 'tailwind-merge';

const { className = null, ...props } = Astro.props;

function propMerge(defaultProps, props) {
  return { ...defaultProps, ...props };
}

const defaultProps = {
  'x-data': '{isOpen: false}',
};
---

<div {...propMerge(defaultProps, props)} class={twMerge('relative', className)}>
  <slot />
</div>

<!-- x-data={props['x-data'] == undefined ? '{isOpen: false}' : props['x-data']} -->
