---
import { twMerge } from 'tailwind-merge';
import propMerge from 'prop-merge';

const { className = null, ...props } = Astro.props;

const defaultProps = {
  'x-data': '{isOpen: false}',
};
---

<div {...propMerge(defaultProps, props)} class={twMerge('relative', className)}>
  <slot />
</div>

<!-- x-data={props['x-data'] == undefined ? '{isOpen: false}' : props['x-data']} -->
