---
import Button from '@/components/ui/Button';
---

<div class="mx-auto grid max-w-[320px] grid-cols-1 gap-2">
  <div class="grid grid-cols-2 gap-2">
    <Button variant="secondary">Default</Button>
    <Button variant="secondary" disabled>Disabled</Button>
  </div>
  <div>
    <Button variant="secondary" isDanger className="w-full">Danger</Button>
  </div>
  <div>
    <Button variant="secondary" className="w-full">Fluid</Button>
  </div>
</div>
