---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Tab from '@/components/ui/elements/Tab';
import Button from '@/components/ui/elements/Button';
import TextField from '@/components/ui/elements/TextField/index.astro';
import SelectField from '@/components/ui/elements/SelectField';
import Card from '@/components/ui/elements/Card';
import Dropdown from '@/components/ui/modules/Dropdown';
---

<Layout layoutClass="">
  <div class="px-7 py-4">
    <h1 class="mb-2 text-lg font-bold text-black">Account Settings</h1>
    <p class="text-sm text-gray-600">View or update your personal details and security settings.</p>
  </div>
  <div>
    <Tab paddingClass="px-7">
      <Tab.Item onClick="link('/components/templates/account-settings/personal')" isActive>
        Personal Details
      </Tab.Item>
      <Tab.Item onClick="link('/components/templates/account-settings/security')">
        Security
      </Tab.Item>
    </Tab>
  </div>
  <div class="px-7 py-10">
    <div class="mx-auto max-w-xl space-y-14">
      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-user"
            ><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="10" r="3"></circle><path
              d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"></path></svg
          >
           Personal Details
        </h3>

        <Card>
          <Card.Group>
            <div class="space-y-6">
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                  >First name</label
                >
                <TextField value="Jane" isFluid />
              </div>
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                  >Last name</label
                >
                <TextField value="Jane" isFluid />
              </div>
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                  >Phone</label
                >
                <TextField value="+1 415 918 2944" isFluid />
              </div>
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                  >Email</label
                >
                <TextField validation="error" value="jane@@5pigibank.com" isFluid />
                <div class="mt-2 text-xs text-red-500">Please provide a valid email.</div>
              </div>
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                  >Timezone</label
                >
                <Dropdown position="bottomEnd" widthClass="w-full">
                  <SelectField value="Browser timezone" isFluid />
                  <slot slot="dropdown-content">
                    <Dropdown.Group>
                      <Dropdown.Items>
                        <Dropdown.Item onClick={'isOpen = !isOpen'}>Africa/Abidjan</Dropdown.Item>
                        <Dropdown.Item onClick={'isOpen = !isOpen'}>Africa/Abidjan</Dropdown.Item>
                        <Dropdown.Item onClick={'isOpen = !isOpen'}>Africa/Abidjan</Dropdown.Item>
                      </Dropdown.Items>
                    </Dropdown.Group>
                  </slot>
                </Dropdown>
              </div>
              <div class="flex justify-end">
                <Button onClick={'isOpen = !isOpen'} size="sm" variant="primary">
                  Save settings
                </Button>
              </div>
            </div>
          </Card.Group>
        </Card>
      </div>
    </div>
  </div>
</Layout>
