---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Tab from '@rinseui/modules/Tab';
import Button from '@rinseui/elements/Button/index.astro';
import TextField from '@rinseui/elements/TextField/index.astro';
import SelectField from '@rinseui/elements/SelectField/index.astro';
import Card from '@rinseui/elements/Card';
import Dropdown from '@rinseui/modules/Dropdown';
---

<Layout layoutClass="">
  <div class="px-7 py-4">
    <h1 class="mb-2 text-lg font-bold text-black">Account Settings</h1>
    <p class="text-sm text-gray-600">View or update your personal details and security settings.</p>
  </div>
  <div>
    <Tab paddingClass="px-7">
      <Tab.Item onClick="link('/components/templates/account-settings/personal')">Personal Details</Tab.Item>
      <Tab.Item onClick="link('/components/templates/account-settings/security')" active>Security</Tab.Item>
    </Tab>
  </div>
  <div class="px-7 py-10">
    <div class="mx-auto max-w-xl space-y-14">
      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-shield-check"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path><path d="m9 12 2 2 4-4"></path></svg
          >
           Account Security
        </h3>

        <Card>
          <Card.Group>
            <div class="space-y-6">
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400">Current password</label>
                <TextField value=" " fluid />
              </div>
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400">New password</label>
                <TextField value=" " fluid />
              </div>
              <div>
                <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400">Confirm new password</label>
                <TextField value=" " fluid />
              </div>
              <div class="flex justify-end">
                <Button size="sm" variant="primary">Save settings</Button>
              </div>
            </div>
          </Card.Group>
        </Card>
      </div>

      <div>
        <h3 class="mb-4 flex items-center gap-2 text-sm font-bold text-black">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-key-round"><path d="M2 18v3c0 .6.4 1 1 1h4v-3h3v-3h2l1.4-1.4a6.5 6.5 0 1 0-4-4Z"></path><circle cx="16.5" cy="7.5" r=".5"></circle></svg
          >
           Two-Factor Authentication
        </h3>

        <Card>
          <Card.Group>
            <div class="space-y-6">
              <div>
                <div class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400">Two-Factor Authentication is currently <strong>disabled</strong></div>
              </div>
              <div class="flex justify-end">
                <Button size="sm" variant="primary">Enable 2FA</Button>
              </div>
            </div>
          </Card.Group>
        </Card>
      </div>
    </div>
  </div>
</Layout>
