---
import Layout from '@layouts/rinsedocs/Raw.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
	<div class="flex min-w-[320px] justify-end">
		<div class="relative" x-data="{open: true}">
			<button
				@click="open = !open"
				class="h-[28px] min-w-[28px]
		rounded-md bg-transparent bg-white px-2 text-[12px] font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
			>
				View settings
			</button>

			<div x-cloak x-show="open" x-transition class="absolute right-0 top-full mt-2 w-[320px] rounded-md bg-white shadow-lg">
				<div
					class="relative flex items-center gap-3 border-b border-gray-200 px-3 before:absolute before:bottom-0 before:left-[var(--tab-indicator)] before:block before:h-[2px] before:w-[var(--indicator-width)] before:bg-blue-500 before:content-['']"
					style="--tab-indicator: 12px; --indicator-width: 38px;"
				>
					<button class="py-3 text-[13px] font-medium text-blue-500"> Fields</button>
					<button class="py-3 text-[13px] font-medium text-gray-400 hover:text-gray-600"> Lists</button>
					<button class="py-3 text-[13px] font-medium text-gray-400 hover:text-gray-600"> Signals</button>
					<button class="py-3 text-[13px] font-medium text-gray-400 hover:text-gray-600"> Policies</button>
					<button class="py-3 text-[13px] font-medium text-gray-400 hover:text-gray-600"> Metrics</button>
				</div>
				<div class="grid grid-cols-1 gap-3 p-3">
					<div class="relative" x-data="{open: false}" @click.away="open = false">
						<button
							@click="open = !open"
							class="flex h-9 w-full items-center justify-between rounded-md border-0 py-1.5 pl-3 text-[13px] text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
						>
							is
							<div class="pointer-events-none flex h-9 w-9 items-center justify-center">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg
								>
							</div>
						</button>
						<div x-show="open" x-transition="" class="absolute right-0 top-full z-10 mt-2 w-full overflow-hidden rounded-md bg-white shadow-lg" style="display: none;">
							<ul class="space-y-px px-1 py-1">
								<li><button @click="open = false" class="flex h-8 w-full items-center rounded px-2 text-[13px] text-gray-900 hover:bg-gray-100"> is one of</button></li>
								<li><button @click="open = false" class="flex h-8 w-full items-center rounded px-2 text-[13px] text-gray-900 hover:bg-gray-100"> exists</button></li>
								<li><button @click="open = false" class="flex h-8 w-full items-center rounded px-2 text-[13px] text-gray-900 hover:bg-gray-100"> is not one of</button></li>
								<li><button @click="open = false" class="flex h-8 w-full items-center rounded px-2 text-[13px] text-gray-900 hover:bg-gray-100"> is not</button></li>
							</ul>
						</div>
					</div>

					<div class="relative rounded-md shadow-sm">
						<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-search h-4 w-4"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg
							>
						</div>
						<input
							type="text"
							class="flex h-9 w-full items-center rounded-md border-0 py-1.5 pl-9 text-[13px] text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400"
							placeholder="Search lists"
						/>
					</div>
				</div>
				<div class="max-h-[200px] min-h-[200px] overflow-auto px-1 py-1">
					<ul class="space-y-px">
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
						<li class="">
							<label class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 [&:has(input:checked)]:bg-gray-100">
								<input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600" />
								<div class="flex items-center gap-2 text-[13px] font-medium text-gray-900">
									<div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
									 Locations per account
								</div>
							</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</Layout>
