---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@/components/ui/elements/Button';
import Dropdown from '@/components/ui/modules/Dropdown';
import SearchField from '@/components/ui/elements/SearchField/index.astro';
import Tab from '@/components/ui/modules/Tab';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown isOpen>
      <Dropdown.Trigger>
        <Button size="sm" variant="outline">View settings</Button>
      </Dropdown.Trigger>
      <Dropdown.Content position="bottomEnd" className="w-[320px]">
        <Tab className="px-4">
          <Tab.Item onClick="" isActive>Fields</Tab.Item>
          <Tab.Item onClick="">Lists</Tab.Item>
          <Tab.Item onClick="">Signals</Tab.Item>
          <Tab.Item onClick="">Policies</Tab.Item>
          <Tab.Item onClick="">Metrics</Tab.Item>
        </Tab>
        <Dropdown.Group className="px-3 py-3">
          <SearchField placeholder="Search by field name" validation="default" isFluid />
        </Dropdown.Group>
        <Dropdown.Separator />
        <Dropdown.Group className="max-h-[300px] min-h-[200px] overflow-auto">
          <ul class="space-y-px">
            <li class="mb-2 px-2 pt-4">
              <div class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400">Field group</div>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Lists</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">lists</div>
              </button>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Event Name</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">name</div>
              </button>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Endpoint</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">endpoint</div>
              </button>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Timestamp</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">timestamp</div>
              </button>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Authenticated</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">authenticated</div>
              </button>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Triggered Signals</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">triggered_signals</div>
              </button>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Triggered Signals</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">triggered_signals</div>
              </button>
            </li>
            <li>
              <button
                class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Triggered Signals</div>
                <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">triggered_signals</div>
              </button>
            </li>
          </ul>
        </Dropdown.Group>
      </Dropdown.Content>
    </Dropdown>
  </div>
</Layout>
