---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@rinseui/elements/Button/index.astro';
import Dropdown from '@rinseui/modules/Dropdown';
import SelectField from '@rinseui/elements/SelectField';
import TextField from '@rinseui/elements/TextField/index.astro';
import Tab from '@rinseui/modules/Tab';
import Link from '@rinseui/elements/Link/index.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown isOpen>
      <Dropdown.Trigger>
        <Button size="sm" variant="outline">View settings</Button>
      </Dropdown.Trigger>

      <Dropdown.Content position="bottomEnd" className="w-[320px]">
        <Tab className="px-4">
          <Tab.Item onClick="" isActive>Fields</Tab.Item>
          <Tab.Item onClick="">Lists</Tab.Item>
          <Tab.Item onClick="">Signals</Tab.Item>
          <Tab.Item onClick="">Policies</Tab.Item>
          <Tab.Item onClick="">Metrics</Tab.Item>
        </Tab>
        <Dropdown.Group>
          <div class="mt-3 px-2">
            <Link onClick={'isOpen = !isOpen'} size="xs">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left mr-0.5"><path d="m15 18-6-6 6-6"></path></svg
              >
               Event Name
            </Link>
          </div>
          <div class="mb-4 grid grid-cols-1 gap-2 px-2 pt-3">
            <div>
              <Dropdown position="bottomEnd" widthClass="w-full">
                <Dropdown.Trigger>
                  <SelectField value="is" isFluid />
                </Dropdown.Trigger>
                <Dropdown.Content className="w-full">
                  <Dropdown.Group>
                    <Dropdown.Items>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is not</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is one of</Dropdown.Item>
                    </Dropdown.Items>
                  </Dropdown.Group>
                </Dropdown.Content>
              </Dropdown>
            </div>
            <div>
              <TextField placeholder="Value" isFluid />
            </div>
          </div>
        </Dropdown.Group>
        <Dropdown.Separator />
        <Dropdown.Group>
          <footer class="flex justify-end gap-2 px-2 py-2">
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="secondary">Cancel</Button>
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="primary">Add filter</Button>
          </footer>
        </Dropdown.Group>
      </Dropdown.Content>
    </Dropdown>
  </div>
</Layout>
