---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@/components/ui/elements/Button';
import {
  Dropdown,
  DropdownContent,
  DropdownGroup,
  DropdownHeader,
  DropdownItem,
  DropdownList,
  DropdownSeparator,
  DropdownTrigger,
} from '@/components/ui/modules/Dropdown';
import {
  Select,
  SelectNative,
  SelectGroup,
  SelectTrigger,
  SelectContent,
  SelectHeader,
  SelectLabel,
  SelectList,
  SelectItem,
  SelectOption,
  SelectSeparator,
} from '@/components/ui/elements/Select';
import SearchField from '@/components/ui/elements/SearchField/index.astro';
import { Tabs, TabsList, TabsTrigger, TabsContent } from '@/components/ui/elements/Tabs';
import Checkbox from '@/components/ui/elements/Checkbox';
---

<Layout class="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown isOpen>
      <DropdownTrigger>
        <Button size="sm" variant="outline">Add Filter</Button>
      </DropdownTrigger>
      <DropdownContent position="bottomEnd" className="w-[320px]">
        <Tabs selection="fields">
          <TabsList>
            <TabsTrigger name="fields">Fields</TabsTrigger>
            <TabsTrigger name="lists">Lists</TabsTrigger>
            <TabsTrigger name="signals">Signals</TabsTrigger>
            <TabsTrigger name="policies">Policies</TabsTrigger>
            <TabsTrigger name="metrics">Metrics</TabsTrigger>
          </TabsList>

          <TabsContent name="fields" className="p-0">
            <DropdownGroup className="px-3 py-3">
              <SearchField placeholder="Search by field name" validation="default" isFluid />
            </DropdownGroup>
            <DropdownSeparator />
            <DropdownGroup className="max-h-[300px] min-h-[200px] overflow-auto">
              <ul class="space-y-px">
                <li class="mb-2 px-2 pt-4">
                  <div
                    class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400"
                  >
                    Field group
                  </div>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Lists
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      lists
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Event Name
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">name</div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Endpoint
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      endpoint
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Timestamp
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      timestamp
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Authenticated
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      authenticated
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Triggered Signals
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      triggered_signals
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Triggered Signals
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      triggered_signals
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Triggered Signals
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      triggered_signals
                    </div>
                  </button>
                </li>
              </ul>
            </DropdownGroup>
          </TabsContent>

          <TabsContent name="lists" className="p-0">
            <DropdownGroup className="px-3 py-3">
              <div class="grid grid-cols-1 gap-2">
                <div>
                  <Select className="w-full" selection="is">
                    <SelectTrigger className="w-full">is</SelectTrigger>
                    <SelectContent className="w-full">
                      <SelectGroup>
                        <SelectList>
                          <SelectItem value="is">is</SelectItem>
                          <SelectItem value="is not">is not</SelectItem>
                          <SelectItem value="is one of">is one of</SelectItem>
                        </SelectList>
                      </SelectGroup>
                    </SelectContent>
                  </Select>
                </div>
                <div>
                  <SearchField placeholder="Search list by name" isFluid />
                </div>
              </div>
            </DropdownGroup>
            <DropdownSeparator />
            <DropdownGroup className="max-h-[200px] min-h-[200px] overflow-auto">
              <ul class="space-y-px">
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
              </ul>
            </DropdownGroup>
          </TabsContent>

          <TabsContent name="signals" className="p-0">
            <DropdownGroup className="px-3 py-3">
              <div class="grid grid-cols-1 gap-2">
                <div>
                  <Select className="w-full" selection="is">
                    <SelectTrigger className="w-full">is</SelectTrigger>
                    <SelectContent className="w-full">
                      <SelectGroup>
                        <SelectList>
                          <SelectItem value="is">is</SelectItem>
                          <SelectItem value="is not">is not</SelectItem>
                          <SelectItem value="is one of">is one of</SelectItem>
                        </SelectList>
                      </SelectGroup>
                    </SelectContent>
                  </Select>
                </div>
                <div>
                  <SearchField placeholder="Search list by name" isFluid />
                </div>
              </div>
            </DropdownGroup>
            <DropdownSeparator />
            <DropdownGroup className="max-h-[200px] min-h-[200px] overflow-auto">
              <ul class="space-y-px">
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Signal name
                        </div>
                      </div>
                    </div>
                  </label>
                </li>
              </ul>
            </DropdownGroup>
          </TabsContent>

          <TabsContent name="policies" className="p-0">
            <DropdownGroup className="px-3 py-3">
              <div class="grid grid-cols-1 gap-2">
                <div>
                  <Select className="w-full" selection="is">
                    <SelectTrigger className="w-full">is</SelectTrigger>
                    <SelectContent className="w-full">
                      <SelectGroup>
                        <SelectList>
                          <SelectItem value="is">is</SelectItem>
                          <SelectItem value="is not">is not</SelectItem>
                          <SelectItem value="is one of">is one of</SelectItem>
                        </SelectList>
                      </SelectGroup>
                    </SelectContent>
                  </Select>
                </div>
                <div>
                  <SearchField placeholder="Search list by name" isFluid />
                </div>
              </div>
            </DropdownGroup>
            <DropdownSeparator />
            <DropdownGroup className="max-h-[200px] min-h-[200px] overflow-auto">
              <ul class="space-y-px">
                <li class="px-2 pb-2 pt-4">
                  <div
                    class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400"
                  >
                    Policy group
                  </div>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Allowed users
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-blue-100 px-1.5 text-[10px] font-bold uppercase text-blue-700 dark:bg-blue-500/10 dark:text-blue-300"
                      >
                        Allow
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Challenge users
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          Deny users
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-red-100 px-1.5 text-[10px] font-bold uppercase text-red-700 dark:bg-red-500/10 dark:text-red-300"
                      >
                        Deny
                      </div>
                    </div>
                  </label>
                </li>
                <li class="px-2 pb-2 pt-4">
                  <div
                    class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400"
                  >
                    Policy group
                  </div>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
                <li class="">
                  <label
                    class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                  >
                    <Checkbox />
                    <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                      <div class="flex items-center gap-2 overflow-hidden">
                        <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                        <div
                          class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                        >
                          An example of a very long policy name goes here
                        </div>
                      </div>
                      <div
                        class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                      >
                        Challenge
                      </div>
                    </div>
                  </label>
                </li>
              </ul>
            </DropdownGroup>
          </TabsContent>

          <TabsContent name="metrics" className="p-0">
            <DropdownGroup className="px-3 py-3">
              <SearchField placeholder="Search metrics by name" isFluid />
            </DropdownGroup>
            <DropdownSeparator />
            <DropdownGroup className="max-h-[200px] min-h-[200px] overflow-auto">
              <ul class="space-y-px">
                <li class="px-2 pb-2 pt-4">
                  <div
                    class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400"
                  >
                    Metric group
                  </div>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Users per Device Fingerprint
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      metrics.users.per_device_fingerprint.value
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Locations per account
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      metrics.1.value
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Device per account
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      metrics.3.value
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Authenticated
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      authenticated
                    </div>
                  </button>
                </li>
                <li>
                  <button
                    class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                  >
                    <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">
                      Metric name
                    </div>
                    <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">
                      metric.id
                    </div>
                  </button>
                </li>
              </ul>
            </DropdownGroup>
            <DropdownSeparator />
            <DropdownGroup>
              <DropdownItem>
                <div class="mr-1.5 flex items-center justify-center">
                  <i class="fa-solid fa-plus fa-fw"></i>
                </div>

                 Add new metric
              </DropdownItem>
            </DropdownGroup>
          </TabsContent>
        </Tabs>
      </DropdownContent>
    </Dropdown>
  </div>
</Layout>
