---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@rinseui/elements/Button/index.astro';
import Dropdown from '@rinseui/modules/Dropdown';
import SelectField from '@rinseui/elements/SelectField/index.astro';
import TextField from '@rinseui/elements/TextField/index.astro';
import Tabs from '@rinseui/modules/Tabs/index.astro';
import Link from '@rinseui/elements/Link/index.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown direction="bottomLeft" widthClass="w-[320px]" isOpen>
      <Button onClick={'isOpen = !isOpen'} size="sm" variant="outline">View settings</Button>

      <slot slot="dropdown-content">
        <Tabs />
        <Dropdown.Group>
          <div class="mt-3 px-2">
            <Link onClick={'isOpen = !isOpen'} size="xs">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left mr-0.5"><path d="m15 18-6-6 6-6"></path></svg
              >
               Event Name
            </Link>
          </div>
          <div class="mb-4 grid grid-cols-1 gap-2 px-2 pt-3">
            <div>
              <Dropdown direction="bottomLeft" widthClass="w-full">
                <SelectField value="is" fluid />
                <slot slot="dropdown-content">
                  <Dropdown.Group>
                    <Dropdown.Items>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is not</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is one of</Dropdown.Item>
                    </Dropdown.Items>
                  </Dropdown.Group>
                </slot>
              </Dropdown>
            </div>
            <div>
              <TextField placeholder="Value" fluid />
            </div>
          </div>
        </Dropdown.Group>
        <Dropdown.Group>
          <footer class="flex justify-end gap-2 px-2 py-2">
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="secondary">Cancel</Button>
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="primary">Add filter</Button>
          </footer>
        </Dropdown.Group>
      </slot>
    </Dropdown>
  </div>
</Layout>
