---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@/components/ui/elements/Button';
import Dropdown from '@/components/ui/modules/Dropdown';
import SearchField from '@/components/ui/elements/SearchField/index.astro';
import SelectField from '@/components/ui/elements/SelectField';
import Checkbox from '@/components/ui/elements/Checkbox';
import Tab from '@/components/ui/elements/Tab';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown isOpen>
      <Dropdown.Trigger>
        <Button size="sm" variant="outline">View settings</Button>
      </Dropdown.Trigger>
      <Dropdown.Content position="bottomEnd" className="w-[320px]">
        <Tab className="px-4">
          <Tab.Item onClick="">Fields</Tab.Item>
          <Tab.Item onClick="">Lists</Tab.Item>
          <Tab.Item onClick="">Signals</Tab.Item>
          <Tab.Item onClick="" isActive>Policies</Tab.Item>
          <Tab.Item onClick="">Metrics</Tab.Item>
        </Tab>
        <Dropdown.Group className="space-y-3 px-3 py-3">
          <div>
            <Dropdown position="bottomEnd" widthClass="w-full">
              <SelectField value="is" isFluid />
              <slot slot="dropdown-content">
                <Dropdown.Group>
                  <Dropdown.Items>
                    <Dropdown.Item onClick={'isOpen = !isOpen'}>
                      is
                    </Dropdown.Item>
                    <Dropdown.Item onClick={'isOpen = !isOpen'}>
                      is not
                    </Dropdown.Item>
                    <Dropdown.Item onClick={'isOpen = !isOpen'}>
                      is one of
                    </Dropdown.Item>
                  </Dropdown.Items>
                </Dropdown.Group>
              </slot>
            </Dropdown>
          </div>
          <div>
            <SearchField placeholder="Search signals by name" isFluid />
          </div>
        </Dropdown.Group>
        <Dropdown.Separator />
        <Dropdown.Group>
          <div class="max-h-[200px] min-h-[200px] overflow-auto">
            <ul class="space-y-px">
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div
                    class="flex flex-1 items-center justify-between overflow-hidden"
                  >
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500">
                      </div>
                      <div
                        class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300"
                      >
                        Signal name
                      </div>
                    </div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </Dropdown.Group>
      </Dropdown.Content>
    </Dropdown>
  </div>
</Layout>
