---
import Layout from '@layouts/rinsedocs/Raw.astro';
import Button from '@rinseui/elements/Button/index.astro';
import Dropdown from '@rinseui/modules/Dropdown';
import SearchField from '@rinseui/elements/SearchField/index.astro';
import SelectField from '@rinseui/elements/SelectField/index.astro';
import Checkbox from '@rinseui/elements/Checkbox/index.astro';
import Tabs from '@rinseui/modules/Tabs/index.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown direction="bottomLeft" widthClass="w-[320px]" isOpen>
      <Button onClick={'isOpen = !isOpen'} size="sm" variant="outline">View settings</Button>
      <slot slot="dropdown-content">
        <Tabs />
        <Dropdown.Group>
          <div class="mb-4 grid grid-cols-1 gap-2 px-2 pt-3">
            <div>
              <Dropdown direction="bottomLeft" widthClass="w-full">
                <SelectField value="is" fluid />
                <slot slot="dropdown-content">
                  <Dropdown.Group>
                    <Dropdown.Items>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is not</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is one of</Dropdown.Item>
                    </Dropdown.Items>
                  </Dropdown.Group>
                </slot>
              </Dropdown>
            </div>
            <div>
              <SearchField placeholder="Search policy by name" fluid />
            </div>
          </div>

          <div class="max-h-[200px] min-h-[200px] overflow-auto">
            <ul class="space-y-px">
              <li class="mb-2 px-2 pt-4 first:pt-0">
                <div class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400">Policy group</div>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Allowed users</div>
                    </div>
                    <div class="flex h-5 flex-none items-center rounded bg-blue-100 px-1.5 text-[10px] font-bold uppercase text-blue-700 dark:bg-blue-500/10 dark:text-blue-300">
                      Allow
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Challenge users</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Deny users</div>
                    </div>
                    <div class="flex h-5 flex-none items-center rounded bg-red-100 px-1.5 text-[10px] font-bold uppercase text-red-700 dark:bg-red-500/10 dark:text-red-300">
                      Deny
                    </div>
                  </div>
                </label>
              </li>
              <li class="mb-2 px-2 pt-4 first:pt-0">
                <div class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400">Policy group</div>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between gap-2 overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">An example of a very long policy name goes here</div>
                    </div>
                    <div
                      class="flex h-5 flex-none items-center rounded bg-orange-100 px-1.5 text-[10px] font-bold uppercase text-orange-700 dark:bg-orange-500/10 dark:text-orange-300"
                    >
                      Challenge
                    </div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </Dropdown.Group>
      </slot>
    </Dropdown>
  </div>
</Layout>
