---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@rinseui/elements/Button/index.astro';
import Dropdown from '@rinseui/modules/Dropdown';
import SearchField from '@rinseui/elements/SearchField/index.astro';
import Tabs from '@rinseui/modules/Tabs/index.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown direction="bottomLeft" widthClass="w-[320px]" isOpen>
      <Button onClick={'isOpen = !isOpen'} size="sm" variant="outline">View settings</Button>
      <slot slot="dropdown-content">
        <Tabs />
        <Dropdown.Group>
          <div class="mb-4 grid grid-cols-1 gap-2 px-2 pt-3">
            <div>
              <SearchField placeholder="Search policy by name" fluid />
            </div>
          </div>

          <div class="max-h-[200px] min-h-[100px] overflow-auto">
            <div class="flex h-[100px] w-full items-center justify-center pb-3">
              <div class="text-center">
                <div class="mb-1 text-[13px] font-semibold text-gray-900 dark:text-gray-300">No metrics found</div>
                <div class="text-[12px] text-gray-500 dark:text-gray-400">Check your spelling or try again.</div>
              </div>
            </div>
          </div>
        </Dropdown.Group>
        <Dropdown.Group>
          <Dropdown.Item>
            <div class="mr-1.5 flex items-center justify-center">
              <i class="fa-solid fa-plus fa-fw"></i>
            </div>

             Add new metric
          </Dropdown.Item>
        </Dropdown.Group>
      </slot>
    </Dropdown>
  </div>
</Layout>
