---
import Layout from '@layouts/rinsedocs/Raw.astro';
import Button from '@rinseui/elements/Button/index.astro';
import Dropdown from '@rinseui/modules/Dropdown/index.astro';
import DropdownGroup from '@rinseui/modules/Dropdown/DropdownGroup.astro';
import DropdownItems from '@rinseui/modules/Dropdown/DropdownItems.astro';
import DropdownItem from '@rinseui/modules/Dropdown/DropdownItem.astro';
import SearchField from '@rinseui/elements/SearchField/index.astro';
import SelectField from '@rinseui/elements/SelectField/index.astro';
import Checkbox from '@rinseui/elements/Checkbox/index.astro';
import Tabs from '@rinseui/modules/Tabs/index.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown direction="bottomLeft" widthClass="w-[320px]" isOpen>
      <Button onClick={'isOpen = !isOpen'} size="sm" variant="outline">View settings</Button>
      <slot slot="dropdown-content">
        <Tabs />
        <DropdownGroup>
          <div class="mb-4 grid grid-cols-1 gap-2 px-2 pt-3">
            <div>
              <Dropdown direction="bottomLeft" widthClass="w-full">
                <SelectField value="is" fluid />
                <slot slot="dropdown-content">
                  <DropdownGroup>
                    <DropdownItems>
                      <DropdownItem onClick={'isOpen = !isOpen'}>is</DropdownItem>
                      <DropdownItem onClick={'isOpen = !isOpen'}>is not</DropdownItem>
                      <DropdownItem onClick={'isOpen = !isOpen'}>is one of</DropdownItem>
                    </DropdownItems>
                  </DropdownGroup>
                </slot>
              </Dropdown>
            </div>
            <div>
              <SearchField placeholder="Search signals by name" fluid />
            </div>
          </div>

          <div class="max-h-[200px] min-h-[200px] overflow-auto">
            <ul class="space-y-px">
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
              <li class="">
                <label
                  class="flex cursor-pointer items-center gap-3 rounded px-2 py-2 hover:bg-gray-100 dark:hover:bg-zinc-100/[0.06] [&:has(input:checked)]:bg-gray-100 dark:[&:has(input:checked)]:bg-zinc-100/[0.06]"
                >
                  <Checkbox />
                  <div class="flex flex-1 items-center justify-between overflow-hidden">
                    <div class="flex items-center gap-2 overflow-hidden">
                      <div class="h-3 w-3 flex-none rounded-sm bg-red-500"></div>
                      <div class="flex-1 truncate text-[13px] font-medium text-gray-900 dark:text-gray-300">Signal name</div>
                    </div>
                  </div>
                </label>
              </li>
            </ul>
          </div>
        </DropdownGroup>
      </slot>
    </Dropdown>
  </div>
</Layout>
