---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@rinseui/elements/Button/index.astro';
import Dropdown from '@rinseui/modules/Dropdown';
import SearchField from '@rinseui/elements/SearchField/index.astro';
import Tabs from '@rinseui/modules/Tabs/index.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown direction="bottomLeft" widthClass="w-[320px]" isOpen>
      <Button onClick={'isOpen = !isOpen'} size="sm" variant="outline">View settings</Button>

      <slot slot="dropdown-content">
        <Dropdown.Group>
          <Tabs />
          <div class="my-3 px-2 pb-1">
            <SearchField placeholder="Search by field name" validation="default" fluid />
          </div>
          <div class="max-h-[300px] min-h-[200px] overflow-auto">
            <ul class="space-y-px">
              <li class="mb-2 px-2 pt-4 first:pt-0">
                <div class="border-b border-zinc-200 pb-1 text-[12px] font-medium text-gray-500 dark:border-zinc-700 dark:text-gray-400">Field group</div>
              </li>
              <li>
                <button
                  class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                >
                  <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Lists</div>
                  <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">lists</div>
                </button>
              </li>
              <li>
                <button
                  class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                >
                  <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Event Name</div>
                  <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">name</div>
                </button>
              </li>
              <li>
                <button
                  class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                >
                  <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Endpoint</div>
                  <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">endpoint</div>
                </button>
              </li>
              <li>
                <button
                  class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                >
                  <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Timestamp</div>
                  <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">timestamp</div>
                </button>
              </li>
              <li>
                <button
                  class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                >
                  <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Authenticated</div>
                  <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">authenticated</div>
                </button>
              </li>
              <li>
                <button
                  class="w-full rounded px-2 py-1 text-left hover:bg-gray-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
                >
                  <div class="text-[13px] font-medium text-gray-900 dark:text-gray-300">Triggered Signals</div>
                  <div class="text-[11px] font-medium text-gray-400 dark:text-gray-500">triggered_signals</div>
                </button>
              </li>
            </ul>
          </div>
        </Dropdown.Group>
      </slot>
    </Dropdown>
  </div>
</Layout>
