---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Card from '@/components/Card';
import Button from '@/components/Button';
---

<Layout class="">
  <div class="flex items-center justify-center px-7 py-[120px]">
    <Card className="w-full max-w-xl text-center">
      <Card.Group className="px-5 py-16 text-center">
        <i class="fa-solid fa-timer mb-4 text-[48px] text-slate-300"></i>
        <h1 class="mb-2 text-lg font-bold text-black">Your trial has expired</h1>
        <p class="text-sm text-gray-600">
          Please update your your <a href="#" class="font-medium text-blue-500"
            >billing information</a
          >
          <br />to activate your account.
        </p>
        <div class="mt-6">
          <Button size="md" variant="primary">
            Manage billing <i class="fa-solid fa-arrow-right ml-2.5 text-xs"></i>
          </Button>
        </div>
      </Card.Group>
    </Card>
  </div>
</Layout>
 @/components/Card@/components/Button
@/components/Card@/components/Button