---
import { ViewTransitions } from 'astro:transitions';
const { title } = Astro.props;
import '@styles/rinsedocs.css';
---

<!doctype html>
<html lang="en" class="bg-[#0f131d]">
	<head>
		<title>{title}</title>

		<!-- Meta -->
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<meta name="generator" content={Astro.generator} />

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Alpine JS -->
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.2/dist/cdn.min.js"></script>
		<ViewTransitions />
	</head>
	<body class="font-sans font-normal text-slate-500 antialiased">
		<slot />
		<script is:inline>
			'use strict';

			// Initialize Alpine
			document.addEventListener('alpine:init', () => {
				Alpine.data('sidebarLinkState', ($el) => ({
					activeSlug: $el.dataset.currentSlug,
					init() {},
					updateLinks(el) {
						this.activeSlug = el.dataset.slug;
					},
				}));

				Alpine.data('pageLink', () => ({
					showTooltip: false,
					copyURL() {
						// Use the Clipboard API to copy the current URL to the clipboard
						navigator.clipboard
							.writeText(window.location.href)
							.then(() => {
								// Successfully copied to clipboard
								this.showTooltip = true; // Show the tooltip

								// Hide the tooltip after 2 seconds
								setTimeout(() => {
									this.showTooltip = false;
								}, 2000);
							})
							.catch((err) => {
								// Handle errors (such as user not granting clipboard permissions)
								console.error('Failed to copy: ', err);
							});
					},
					hideTooltip() {
						this.showTooltip = false; // Hide the tooltip
					},
				}));
			});
		</script>
	</body>
</html>
