---
import { ViewTransitions } from 'astro:transitions';
const { layoutClass } = Astro.props;
import '@/styles/app.css';
import Alpine from '@components/Alpine.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font Awesome 6 -->
    <link href="/vendors/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/vendors/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/vendors/fontawesome/css/solid.css" rel="stylesheet" />
    <link href="/vendors/fontawesome/css/regular.css" rel="stylesheet" />

    <!-- Chart JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="font-sans font-normal text-slate-500 antialiased">
    <div class={layoutClass}>
      <slot />
    </div>
  </body>
</html>
