---
import Tab from '@/components/ui/elements/Tab';
---

<label class="flex items-center text-sm font-medium text-gray-900 dark:text-gray-300">
  <Tab>
    <TabTrigger isActive>Tab 1</TabTrigger>
    <TabTrigger>Tab 2</TabTrigger>
    <TabTrigger>Tab 3</TabTrigger>
    <TabTrigger>Tab 4</TabTrigger>
    <TabTrigger>Tab 5</TabTrigger>
  </Tab>
</label>
 @/components/ui/elements/Tabs
