---
import { Tabs, TabsList, TabsTrigger, TabsContent } from '@/components/ui/elements/Tabs';
---

<label class="flex items-center text-sm font-medium text-gray-900 dark:text-gray-300">
  <Tabs selection="security">
    <TabsList className="px-7">
      <TabsTrigger name="personal" href="/components/templates/account-settings/personal">
        Personal Details
      </TabsTrigger>
      <TabsTrigger name="security" href="/components/templates/account-settings/security">
        Security
      </TabsTrigger>
    </TabsList>
  </Tabs>
</label>
