---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Checkbox from '@/components/ui/Checkbox';
---

<Layout class="flex h-[100px] items-center justify-center px-4 py-8">
  <div class="flex items-center justify-center gap-3 text-sm text-gray-900 dark:text-gray-300">
    <Checkbox />
     A simple checkbox
  </div>
</Layout>
 @/components/ui/Checkbox
