---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Tabs from '@rinseui/modules/Tabs/index.astro';
---

<Layout layoutClass="flex items-center justify-center h-[100px]">
  <div>
    <Tabs />
  </div>
</Layout>
