---
import Dialog from '@/components/ui/elements/Dialog';
import Card from '@/components/ui/elements/Card';
import Button from '@/components/ui/elements/Button';
---

<Dialog>
  <Dialog.Trigger>Open</Dialog.Trigger>
  <Dialog.Content>
    <div class="px-6 py-5">
      <h3 class="mb-2 text-lg font-semibold text-gray-900">Confirm deletion</h3>
      <p class="text-sm text-gray-600">
        Do you really wish to deactivate your account? Please be aware that this
        will permanently erase all your data and this action is irreversible.
      </p>
    </div>
    <div class="border-t border-zinc-200 px-3 py-3">
      <div class="flex justify-end gap-2">
        <Button size="sm" variant="secondary">Cancel</Button>
        <Button size="sm" variant="primary" isDanger>Confirm delete</Button>
      </div>
    </div>
  </Dialog.Content>
</Dialog>
