---
import Button from '@rinseui/elements/Button/index.astro';

// console.log(Astro.url);
// const data = await fetch(Astro.url).then((response) => console.log(response.body));
---

<div></div>
<slot is:raw />
