---
import Checkbox from '@/components/ui/Checkbox';
---

<label class="flex items-center text-sm font-medium text-gray-900 dark:text-gray-300">
  <Checkbox className="mr-3" checked />
   I agree to the terms and conditions
</label>
 @/components/ui/Checkbox
