---
import Checkbox from '@/components/ui/Checkbox';
---

<h3 class="mb-4 text-sm font-semibold text-gray-900 dark:text-gray-100">
  What is your favorite sport?
</h3>

<form class="grid grid-cols-1 gap-2">
  <label
    name="sport"
    value="Soccer"
    class="flex items-center text-sm text-gray-600 dark:text-gray-300"
  >
    <Checkbox className="mr-3" />
     Soccer
  </label>

  <label
    name="sport"
    value="Basketball"
    class="flex items-center text-sm text-gray-600 dark:text-gray-300"
  >
    <Checkbox className="mr-3" />
     Basketball
  </label>

  <label
    name="sport"
    value="Tennis"
    class="flex items-center text-sm text-gray-600 dark:text-gray-300"
  >
    <Checkbox className="mr-3" />
     Tennis
  </label>

  <label
    name="sport"
    value="Baseball"
    class="flex items-center text-sm text-gray-600 dark:text-gray-300"
  >
    <Checkbox className="mr-3" />
     Baseball
  </label>
</form>
 @/components/ui/Checkbox
