---
import Layout from '@layouts/rinsedocs/Raw.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
	<div class="flex min-w-[220px] justify-end">
		<div class="relative" x-data="{open: true}">
			<button
				@click="open = !open"
				class="h-[28px] min-w-[28px]
		rounded-md bg-transparent bg-white px-2 text-[12px] font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
			>
				View settings
			</button>

			<div x-cloak x-show="open" x-transition class="absolute right-0 top-full mt-2 rounded-md bg-white shadow-lg">
				<div class="mb-2 w-[220px] px-3 pt-3 text-xs font-medium text-gray-500">View settings</div>
				<div class="px-1">
					<ul class="space-y-px">
						<li class="flex h-8 items-center rounded px-1 text-[13px] font-medium text-gray-900 hover:bg-gray-100">
							<div class="mr-1 flex h-5 w-5 items-center justify-center">
								<svg class="h-3 w-auto" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
									><!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.-->
									<path
										d="M336 176a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm-160 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM64 224a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM336 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM224 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM16 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0z"
									></path></svg
								>
							</div>
							 Activity
						</li>
						<li class="flex h-8 items-center rounded px-1 text-[13px] font-medium text-gray-900 hover:bg-gray-100">
							<div class="mr-1 flex h-5 w-5 items-center justify-center">
								<svg class="h-3 w-auto" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
									><!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.-->
									<path
										d="M336 176a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm-160 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM64 224a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM336 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM224 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM16 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0z"
									></path></svg
								>
							</div>
							 Lists
						</li>
						<li class="flex h-8 items-center rounded px-1 text-[13px] font-medium text-gray-900 hover:bg-gray-100">
							<div class="mr-1 flex h-5 w-5 items-center justify-center">
								<svg class="h-3 w-auto" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
									><!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.-->
									<path
										d="M336 176a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm-160 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM64 224a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM336 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM224 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM16 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0z"
									></path></svg
								>
							</div>
							 Country
						</li>
						<li class="flex h-8 items-center rounded px-1 text-[13px] font-medium text-gray-900 hover:bg-gray-100">
							<div class="mr-1 flex h-5 w-5 items-center justify-center">
								<svg class="h-3 w-auto" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
									><!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.-->
									<path
										d="M336 176a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm-160 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM64 224a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM336 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM224 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM16 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0z"
									></path></svg
								>
							</div>
							 Registered at
						</li>
						<li class="flex h-8 items-center rounded px-1 text-[13px] font-medium text-gray-900 hover:bg-gray-100">
							<div class="mr-1 flex h-5 w-5 items-center justify-center">
								<svg class="h-3 w-auto" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
									><!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.-->
									<path
										d="M336 176a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm-160 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM64 224a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM336 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM224 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM16 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0z"
									></path></svg
								>
							</div>
							 Signals
						</li>
						<li class="flex h-8 items-center rounded px-1 text-[13px] font-medium text-gray-900 hover:bg-gray-100">
							<div class="mr-1 flex h-5 w-5 items-center justify-center">
								<svg class="h-3 w-auto" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"
									><!--!Font Awesome Pro 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.-->
									<path
										d="M336 176a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zm-160 0a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM64 224a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM336 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0zM224 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM16 336a48 48 0 1 0 96 0 48 48 0 1 0 -96 0z"
									></path></svg
								>
							</div>
							 Seen
						</li>
					</ul>
				</div>
				<div class="my-1 border-t border-gray-200 px-1 pt-1">
					<button class="flex h-8 w-full items-center rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-gray-100">
						<div class="mr-1 flex items-center justify-center">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								class="lucide lucide-plus mr-1 h-3.5 w-3.5"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg
							>
						</div>

						 Add new column
					</button>
				</div>
			</div>
		</div>
	</div>
</Layout>
