---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import MultiSelect from '@/components/ui/Checkbox/sample/MultiSelect.astro';
---

<Layout className="flex items-center justify-center py-10">
  <div>
    <MultiSelect />
  </div>
</Layout>
