---
const { url, dark = true } = Astro.props;
---

<div class="ring-1" class:list={dark && 'bg-black'}>
	<iframe src={url} class="component-previewer h-[200px] min-h-[200px] w-full overflow-hidden"></iframe>
</div>

<script>
	// Selecting the iframe element
	let iframe = document.querySelector('.component-previewer') as HTMLIFrameElement;

	// Adjusting the iframe height onload event
	iframe.onload = function () {
		iframe.style.height = '400px';
	};
</script>
