---
import { twMerge } from 'tailwind-merge';

const { isVisible = false, className = null, ...props } = Astro.props;
---

<div x-data={`{isVisible: ${isVisible}}`} class={twMerge(className)} {...props}>
  <slot />
</div>
