---
import Button from '@/components/ui/elements/Button';

// console.log(Astro.url);
// const data = await fetch(Astro.url).then((response) => console.log(response.body));
---

<div></div>
<slot is:raw />
