---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@rinseui/elements/Button/index.astro';
import Dropdown from '@rinseui/modules/Dropdown';
import TextField from '@rinseui/elements/TextField/index.astro';
import SelectField from '@/components/rinseui/elements/SelectField';
import Link from '@rinseui/elements/Link/index.astro';
---

<Layout layoutClass="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown position="bottomEnd" isOpen>
      <Dropdown.Trigger>
        <Button size="sm" variant="outline">View settings</Button>
      </Dropdown.Trigger>

      <Dropdown.Content position="bottomEnd" className="w-[320px]">
        <Dropdown.Group>
          <Dropdown.Header>
            <Link onClick={'isOpen = !isOpen'} size="xs">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left mr-0.5"><path d="m15 18-6-6 6-6"></path></svg
              >
               Event Name
            </Link>
          </Dropdown.Header>
        </Dropdown.Group>
        <Dropdown.Separator />
        <Dropdown.Group>
          <div class="grid grid-cols-1 gap-5 px-2 pb-4 pt-2">
            <div>
              <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400">Column Type</label>

              <Dropdown position="bottomEnd" widthClass="w-full">
                <Dropdown.Trigger>
                  <SelectField placeholder="Most recent event" isFluid />
                </Dropdown.Trigger>
                <Dropdown.Content className="w-full">
                  <Dropdown.Group>
                    <Dropdown.Items>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is not</Dropdown.Item>
                      <Dropdown.Item onClick={'isOpen = !isOpen'}>is one of</Dropdown.Item>
                    </Dropdown.Items>
                  </Dropdown.Group>
                </Dropdown.Content>
              </Dropdown>
            </div>
            <div>
              <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400">Column Label</label>
              <TextField placeholder="Most recent event" isFluid />
            </div>
          </div>
        </Dropdown.Group>
        <Dropdown.Separator />
        <Dropdown.Group>
          <footer class="flex justify-end gap-2 px-2 py-2">
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="secondary">Cancel</Button>
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="primary">Add column</Button>
          </footer>
        </Dropdown.Group>
      </Dropdown.Content>
    </Dropdown>
  </div>
</Layout>
