---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import Button from '@/components/ui/elements/Button';
import {
  Dropdown,
  DropdownContent,
  DropdownGroup,
  DropdownHeader,
  DropdownItem,
  DropdownList,
  DropdownSeparator,
  DropdownTrigger,
} from '@/components/ui/modules/Dropdown';
import TextField from '@/components/ui/elements/TextField/index.astro';
import {
  Select,
  SelectNative,
  SelectGroup,
  SelectTrigger,
  SelectContent,
  SelectHeader,
  SelectLabel,
  SelectList,
  SelectItem,
  SelectOption,
  SelectSeparator,
} from '@/components/ui/elements/Select';
import Link from '@/components/ui/elements/Link/index.astro';
---

<Layout class="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[320px] justify-end">
    <Dropdown position="bottomEnd" isOpen>
      <DropdownTrigger>
        <Button size="sm" variant="outline">View settings</Button>
      </DropdownTrigger>

      <DropdownContent position="bottomEnd" className="w-[320px]">
        <DropdownGroup>
          <DropdownHeader>
            <Link onClick={'isOpen = !isOpen'} size="xs">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-chevron-left mr-0.5"><path d="m15 18-6-6 6-6"></path></svg
              >
               Event Name
            </Link>
          </DropdownHeader>
        </DropdownGroup>
        <DropdownSeparator />
        <DropdownGroup>
          <div class="grid grid-cols-1 gap-5 px-2 pb-4 pt-2">
            <div>
              <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                >Column Type</label
              >

              <Select className="w-full" selection="is">
                <SelectTrigger className="w-full">is</SelectTrigger>
                <SelectContent className="w-full">
                  <SelectGroup>
                    <SelectList>
                      <SelectItem value="is">is</SelectItem>
                      <SelectItem value="is not">is not</SelectItem>
                      <SelectItem value="is one of">is one of</SelectItem>
                    </SelectList>
                  </SelectGroup>
                </SelectContent>
              </Select>
            </div>
            <div>
              <label class="mb-2 block text-[13px] font-semibold text-gray-900 dark:text-gray-400"
                >Column Label</label
              >
              <TextField placeholder="Most recent event" isFluid />
            </div>
          </div>
        </DropdownGroup>
        <DropdownSeparator />
        <DropdownGroup>
          <footer class="flex justify-end gap-2 px-2 py-2">
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="secondary">Cancel</Button>
            <Button onClick={'isOpen = !isOpen'} size="sm" variant="primary">Add column</Button>
          </footer>
        </DropdownGroup>
      </DropdownContent>
    </Dropdown>
  </div>
</Layout>
