---
import Layout from '@/layouts/rinsedocs/Raw.astro';
import { Button } from '@/components/Button';on';on';
import {
  Dropdown,
  DropdownContent,
  DropdownGroup,
  DropdownHeader,
  DropdownItem,
  DropdownList,
  DropdownSeparator,
  DropdownTrigger,
} from '@/components/Dropdown';
---

<Layout class="flex items-center justify-center px-4 py-10">
  <div class="flex min-w-[240px] justify-end">
    <Dropdown data={{ isOpen: true }}>
      <DropdownTrigger>
        <Button size="sm" variant="outline">View settings</Button>
      </DropdownTrigger>

      <DropdownContent position="bottom-end" className="w-[200px]">
        <DropdownGroup>
          <DropdownHeader>View settings</DropdownHeader>
          <ul>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">Policy</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">Event</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">User</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">Location</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">Connection</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">Device</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">Device</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">Triggered signals</div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
            <li>
              <button
                class="group/table-order flex h-9 w-full cursor-grab items-center justify-between rounded px-2 text-[13px] font-medium text-gray-900 hover:bg-zinc-100 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-blue-500 active:cursor-grabbing dark:text-gray-300 dark:hover:bg-zinc-100/[0.06] dark:focus-visible:ring-blue-500"
              >
                <div class="flex flex-1 items-center overflow-hidden">
                  <div class="mr-1.5 dark:text-gray-500">
                    <i class="fa-solid fa-grip-dots fa-fw"></i>
                  </div>
                  <div class="flex-1 truncate text-left">
                    A really long custom column label goes here
                  </div>
                </div>
                <div
                  class="hidden h-6 w-6 items-center justify-center text-gray-400 hover:cursor-pointer hover:text-gray-600 group-hover/table-order:flex dark:text-gray-400 dark:hover:text-gray-100"
                >
                  <i class="fa-solid fa-times"></i>
                </div>
              </button>
            </li>
          </ul>
        </DropdownGroup>
        <DropdownSeparator />
        <DropdownGroup>
          <DropdownItem>
            <div class="mr-1.5 flex items-center justify-center">
              <i class="fa-solid fa-plus"></i>
            </div>

            Add new column
          </DropdownItem>
        </DropdownGroup>
      </DropdownContent>
    </Dropdown>
  </div>
</Layout>
